extends ../layouts/_web

block append content
    .row
        .col-xs-12(class=categories && categories.length > 1 ? 'col-sm-9' : 'col-sm-12')
            - var detailMode = true
            include ./list-item
            comments(for="'entity'", object="'" + entity._id + "'", user=user)
            #comments
        if categories && categories.length > 1
            .col-sm-3.col-xs-12
                each cat in categories
                    - var active = cat.active ? ' active' : ''
                    - var margin = !cat.body ? ' b-category__no-margin' : ''
                    a(
                    href='/category/' + cat.url
                    class='list-group-item' + active + margin
                    )
                        h4.list-group-item-heading
                        | #{cat.title}
                        span.badge=cat.counters.published
                        if cat.body
                            p.list-group-item-text=cat.body