article.b-article(class=detailMode ? 'b-article-detail' : '')
    .b-article__header
        h3
            a(href='/category/' + entity.parent.url + '/' + entity.url)=entity.title
        h4
            span.b-article__block
                a(href='/category/' + entity.parent.url)=entity.parent.title
            span.b-article__block.text-muted.text-nowrap
                i(class='fa fa-clock-o', title='Дата публикации')
                =moment(entity.created).fromNow()
            span.b-article__block.text-muted.text-nowrap
                rating(user=(user ? "'" + user._id + "'" : null), object="'" + entity._id + "'", rating=entity.rating, for="'entity'")/
    .b-article__body
        if entity.media && entity.media.mimeType == 'youtube'
            .embed-responsive.embed-responsive-16by9
                iframe(
                    type='text/html'
                    class='embed-responsive-item'
                    src='https://www.youtube.com/embed/' + entity.media.fileName
                    frameborder='0'
                    allowfullscreen
                )
        if entity.media && entity.media.mimeType.indexOf('image/') != -1
            img(
                src=entity.media.fileName
                class='b-article__image' + (!detailMode ? '' : ' b-article__image-detail')
                onclick='location.href="/category/' + entity.parent.url + '/' + entity.url + '"'
            )
        if !detailMode
            .b-article__body__text.text-justify
                =entity.shortBody
        else
            .b-article__body__text
                !=md.render(entity.body)

    .b-article__footer.text-muted
        span.b-article__block
            i(class='fa fa-user', title='Автор')
            | Автор:
            =' '
            a(href='/profile/' + entity.createdBy._id)=entity.createdBy.nickname
        if !detailMode
            span.b-article__block.b-pull-right.b-no-margin.b-comments
                a(href='/category/' + entity.parent.url + '/' + entity.url + '#comments')
                    i.fa.fa-comment-o
                    =entity.commentsCount ? entity.commentsCount : 0
        if entity.tags && entity.tags.length > 0
            span.b-article__block
                i.fa.fa-hashtag
                | Хэштеги:
                =' '
                each tag in entity.tags
                    if !detailMode
                        a(href='?tag=' + tag, class='b-no-margin-right')=tag
                        !=' '
                    else
                        a(href='./?tag=' + tag, class='b-no-margin-right')=tag
                        !=' '