<div class="b-dashboard__wrapper" ng-class="{'b-toggled': $root.toggled}">
    <nav class="navbar navbar-fixed-top b-dashboard__wrapper__sidebar" role="navigation">
        <ul class="nav b-navbar">
            <li ng-class="{'text-center': !$root.toggled}" class="b-navbar__header">
                <a href="#" ng-click="$root.toggleNav($event)" class="b-navbar__link">
                    <i class="fa fa-fw fa-bars"></i> <span>{{ $root.toggled ? $root.currentUser.nickname : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a ui-sref=".media({parent: 'root', page: 1, title: null})" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-file-movie-o"></i> <span>{{ $root.toggled ? 'Медиа' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a ui-sref=".document({parent: 'root', page: 1, title: null})" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-file"></i> <span>{{ $root.toggled ? 'Документы' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a ui-sref=".book({parent: 'root', page: 1, title: null})" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-book"></i> <span>{{ $root.toggled ? 'Книги' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a ui-sref=".bookAuthor({page: 1, fullName: null})" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-user"></i> <span>{{ $root.toggled ? 'Авторы' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a ui-sref=".bookPerformer({page: 1, fullName: null})" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-microphone"></i> <span>{{ $root.toggled ? 'Исполнители' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}" ng-if="$root.currentUser.isAdmin">
                <a ui-sref=".user({page: 1, nickname: null})" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-users"></i> <span>{{ $root.toggled ? 'Пользователи' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a href="/" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-home"></i> <span>{{ $root.toggled ? 'На сайт' : ''}}</span>
                </a>
            </li>
            <li ng-class="{'text-center': !$root.toggled}">
                <a href="/account/logout" class="b-navbar__link" ui-sref-active="b-navbar__link-active">
                    <i class="fa fa-fw fa-sign-out"></i> <span>{{ $root.toggled ? 'Выход' : ''}}</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="b-dashboard__wrapper__content">
        <div class="container-fluid" ui-view>
        </div>
    </div>
</div>