<div class="modal-header">
    <h3 class="modal-title">{{model._id ? 'Редактирование раздела' : 'Добавление раздела'}}</h3>
</div>
<form name="form" id="form" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': form.url.$invalid && (form.url.$touched || form.$submitted)}">
            <label>Url</label>
            <input pattern="^[a-z-_0-9]+$" class="form-control" type="text" name="url" ng-required="true" maxlength="100" ng-model="model.url" ng-disabled="busy">
            <ul class="help-block" ng-if="form.url.$invalid && (form.url.$touched || form.$submitted)">
                <li ng-if="form.url.$error.required">Обязательное поле</li>
                <li ng-if="form.url.$error.pattern">Только латинские буквы в нижнем регистре, цифры, '_', '-'</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && (form.title.$touched || form.$submitted)}">
            <label>Название</label>
            <input class="form-control" type="text" name="title" ng-required="true" minlength="2" maxlength="100" ng-model="model.title" ng-disabled="busy">
            <ul class="help-block" ng-if="form.title.$invalid && (form.title.$touched || form.$submitted)">
                <li>Минимальная длинна 2 символа</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.sortOrder.$invalid && (form.sortOrder.$touched || form.$submitted)}">
            <label>Вес сортировки</label>
            <input class="form-control" type="number" ng-required="true" min="0" name="sortOrder" ng-model="model.sortOrder" ng-disabled="busy">
            <ul class="help-block" ng-if="form.sortOrder.$invalid && (form.sortOrder.$touched || form.$submitted)">
                <li ng-if="form.sortOrder.$error.required">Обязательное поле</li>
                <li ng-if="form.sortOrder.$error.min">Минимальное значение 0</li>
                <li ng-if="form.sortOrder.$error.number">Значение должно быть числом</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.body.$invalid && (form.body.$touched || form.$submitted)}">
            <label>Описание</label>
            <textarea rows="3" maxlength="1000" class="form-control" name="body" ng-model="model.body" ng-disabled="busy">
            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="busy" ng-click="ok(form, $event)">{{model._id ? 'Обновить' : 'Добавить'}}</button>
        <button class="btn btn-warning" ng-disabled="busy" ng-click="cancel($event)">Отмена</button>
    </div>
</form>