<div class="modal-header">
    <h3 class="modal-title">{{model._id ? 'Редактирование документа' : 'Добавление документа'}}</h3>
</div>
<form name="form" id="form" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': form.url.$invalid && (form.url.$touched || form.$submitted)}">
            <label>Url</label>
            <input pattern="^[a-z-_0-9]+$" class="form-control" type="text" name="url" ng-required="true" maxlength="100" ng-model="model.url" ng-disabled="busy">
            <ul class="help-block" ng-if="form.url.$invalid && (form.url.$touched || form.$submitted)">
                <li ng-if="form.url.$error.required">Обязательное поле</li>
                <li ng-if="form.url.$error.pattern">Только латинские буквы в нижнем регистре, цифры, '_', '-'</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && (form.title.$touched || form.$submitted)}">
            <label>Название</label>
            <input class="form-control" type="text" name="title" ng-required="true" minlength="2" maxlength="200" ng-model="model.title" ng-disabled="busy">
            <ul class="help-block" ng-if="form.title.$invalid && (form.title.$touched || form.$submitted)">
                <li>Минимальная длинна 2 символа</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.body.$invalid && (form.body.$touched || form.$submitted)}">
            <label>Описание</label>
            <textarea rows="5" maxlength="7000" class="form-control" name="body" ng-model="model.body" ng-disabled="busy">
            </textarea>
        </div>
        <div class="form-group" ng-class="{'has-error': form.pinnedUp.$invalid && (form.pinnedUp.$touched || form.$submitted)}">
            <label><input type="checkbox" name="pinnedUp" ng-model="model.pinnedUp"> Закреплен</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="busy" ng-click="ok(form, $event)">{{model._id ? 'Обновить' : 'Добавить'}}</button>
        <button class="btn btn-warning" ng-disabled="busy" ng-click="cancel($event)">Отмена</button>
    </div>
</form>