<div class="modal-header">
    <h3 class="modal-title">Подтверждение публикации</h3>
</div>
<div class="modal-body">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="update"> Обновить дату создания?
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Опубликовать</button>
    <button class="btn btn-warning" ng-click="cancel()">Закрыть</button>
</div>