extends ../layouts/_web

block append content
    .row
        .col-sm-offset-3.col-sm-6.col-xs-12
            .panel.panel-default
                .panel-heading Вход
                .panel-body
                    login-form
                        .b-component-loader.b-component-loader-sm
                            .b-component-loader__content
                                i.fa.fa-spin.fa-cog.fa-4x
                .panel-footer.text-center <a href="/account/registration">Регистрация</a> | <a href="/account/restore-password">Забыли пароль?</a>