extends ../layouts/_web

block append content
    profile-editor(user=user)
        .b-component-loader.b-component-loader-lg
            .b-component-loader__content
                    i.fa.fa-spin.fa-cog.fa-4x
    block content
