extends ../layouts/_web

block append content
    .row
        .col-sm-offset-3.col-sm-6.col-xs-12
            .panel.panel-default
                .panel-heading Сброс пароля
                .panel-body
                    reset-password-form(
                        userId='\'' + userid + '\'',
                        token='\'' + token + '\''
                    )
                        .b-component-loader.b-component-loader-sm
                            .b-component-loader__content
                                i.fa.fa-spin.fa-cog.fa-4x
                .panel-footer.text-center <a href="/account/login">Вход</a> | <a href="/account/registration">Регистрация</a>