<form ng-if="!$ctrl.done" name="resetPwdForm" id="resetPwdForm" ng-submit="$ctrl.submit(resetPwdForm)" novalidate>
    <div class="form-group" ng-class="{ 'has-error': resetPwdForm.password.$invalid && (resetPwdForm.password.$touched || resetPwdForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="password" ng-change="$ctrl.comparePasswords(resetPwdForm)" ng-model="$ctrl.data.password" name="password" ng-required="true" class="form-control" placeholder="Пароль" minlength="6" maxlength="50">
        <span class="help-block" ng-if="resetPwdForm.password.$invalid && (resetPwdForm.password.$touched || resetPwdForm.$submitted)">
                    <ul>
                        <li>Обязательное поле</li>
                        <li>Минимальная длинна 6 символов</li>
                    </ul>
                </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': resetPwdForm.repeatPassword.$invalid && (resetPwdForm.repeatPassword.$touched || resetPwdForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="password" ng-change="$ctrl.comparePasswords(resetPwdForm)" ng-model="$ctrl.data.repeatPassword" name="repeatPassword" ng-required="true" class="form-control" placeholder="Повторите пароль" minlength="6" maxlength="50">
        <span class="help-block" ng-if="resetPwdForm.repeatPassword.$invalid && (resetPwdForm.repeatPassword.$touched || resetPwdForm.$submitted)">
                    <ul>
                        <li ng-if="!resetPwdForm.repeatPassword.$error.cmppasswords">Обязательное поле</li>
                        <li ng-if="!resetPwdForm.repeatPassword.$error.cmppasswords">Минимальная длинна 6 символов</li>
                        <li ng-if="resetPwdForm.repeatPassword.$error.cmppasswords">Пароли не совпадают</li>
                    </ul>
                </span>
    </div>
    <div class="form-group text-center">
        <button ng-disabled="$ctrl.busy" class="btn btn-default btn-lg" type="submit">Сбросить пароль</button>
    </div>
</form>
<div class="alert alert-success" ng-if="$ctrl.done">
    Пароль успешно изменен. Теперь вы можете <a href="/account/login">войти</a>.
</div>