if !disableFooter
    footer.b-footer
        .container
            .row
                .col-sm-4.col-xs-12
                    if user
                        h4=user.nickname
                        .b-footer__link
                            a(href='/account/profile') Профиль
                        .b-footer__link
                            span.b-curp.b-curp-underline(ng-click='$root.logout()') Выйти
                    else
                        h4 Вы можете
                        .b-footer__link
                            a(href='/account/login') Войти
                        .b-footer__link
                            a(href='/account/registration') Зарегестрироваться
                .col-sm-4.col-xs-12
                    h4 Разделы
                    .b-footer__link
                        a(href='/') Новости
                    if modules && modules.audiobooks
                        .b-footer__link
                            a(href='/audiobooks') Аудиокниги
                    if modules && modules.library
                        .b-footer__link
                            a(href='/library') Библиотека
                .col-sm-4.hidden-xs.text-center
                    | Администрация
                    br
                    a(href='mailto:' + supportEmail)=supportEmail
                .col-xs-12.visible-xs
                    span
                        | Администрация:
                        =' '
                        a(href='mailto:' + supportEmail)=supportEmail