if !disableHeader
    header
        nav.navbar.navbar-default.b-website__navbar.navbar-static-top
            .container
                .navbar-header
                    .b-website__navbar__search
                        form(method='get', action='/audiobooks')
                            .input-group
                                input(type='text', class='form-control', name='search', maxlength='100', placeholder='Поиск аудиокниг')
                                .input-group-btn
                                    button(type='submit', class='btn btn-default')
                                        i.glyphicon.glyphicon-search
                    .b-website__navbar__toggle
                        button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#top-nav', aria-expanded='false')
                            span.sr-only Раскрыть навигацию
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    a(class='navbar-brand', href='/')
                        img(src='/images/logo.svg')
                div(class='collapse navbar-collapse' id="top-nav")
                    ul.nav.navbar-nav
                        if modules && modules.audiobooks
                            li(class=nav.audiobooks.active ? 'active' : '')
                                a(href='/audiobooks') Аудиокниги
                        if modules && modules.library
                            li(class=nav.library.active ? 'active' : '')
                                a(href='/library') Библиотека
                        if modules && (modules.audiobooks || modules.library)
                            li(class=nav.authors.active ? 'active' : '')
                                a(href='/authors') Авторы
                        if modules && modules.audiobooks
                            li(class=nav.performers.active ? 'active' : '')
                                a(href='/performers') Исполнители
                    ul.nav.navbar-nav.navbar-right
                        if user
                            li.dropdown
                                a(class='dropdown-toggle b-options-button b-website__navbar__lentered', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    .b-item
                                        if user.avatar
                                            img(src=user.avatar, class='img-circle b-options-button__avatar')
                                        else
                                            img(src='/images/user.svg', class='img-circle b-options-button__avatar')
                                        span.caret
                                ul.dropdown-menu
                                    li(class=nav.profile.active ? 'active': '')
                                        a(href='/account/profile') Профиль
                                    li(class=nav.favorites.active ? 'active': '')
                                        a(href='/account/favorites') Избранное
                                    if user.isAdmin || user.isModerator
                                        li
                                            a(href='/dashboard') Панель управления
                                    li
                                        a(href='/account/logout') Выход
                        else
                            li
                                a(href='/account/login') Войти