if paginator
    nav(aria-label='Пейджинг')
        ul.pagination
            if paginator.page != 1
                li
                    a(href='?page=1') Первая
            each page in paginator.items
                li(class=page.active ? 'active' : '')
                    a(href='?page=' + page.num)
                        | !{page.num}
                        if page.active == true
                            span.sr-only (current)
            if paginator.page != paginator.pages
                li
                    a(href='?page=' + paginator.pages) Последняя