<form ng-show="!$ctrl.regComplete" name="regForm" id="regForm" ng-submit="$ctrl.submit(regForm)" novalidate>
    <div class="form-group" ng-class="{ 'has-error': regForm.nickname.$invalid && (regForm.nickname.$touched || regForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="text" ng-change="regForm.nickname.$setValidity('conflict', true);" ng-model="$ctrl.data.nickname" name="nickname" class="form-control" placeholder="Псевдоним" ng-required="true">
        <span class="help-block" ng-if="regForm.nickname.$invalid && !regForm.nickname.$error.conflict && (regForm.nickname.$touched || regForm.$submitted)">
            <ul>
                <li>Обязательное поле</li>
            </ul>
        </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': regForm.email.$invalid && (regForm.email.$touched || regForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="email" ng-change="regForm.email.$setValidity('conflict', true);" ng-model="$ctrl.data.email" name="email" ng-required="true" class="form-control" placeholder="Email" maxlength="50">
        <span class="help-block" ng-if="regForm.email.$invalid && !regForm.email.$error.conflict && (regForm.email.$touched || regForm.$submitted)">
                    <ul>
                        <li>Неправильный Email адрес</li>
                    </ul>
                </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': regForm.password.$invalid && (regForm.password.$touched || regForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="password" ng-change="$ctrl.comparePasswords(regForm)" ng-model="$ctrl.data.password" name="password" ng-required="true" class="form-control" placeholder="Пароль" minlength="6" maxlength="50">
        <span class="help-block" ng-if="regForm.password.$invalid && (regForm.password.$touched || regForm.$submitted)">
                    <ul>
                        <li>Обязательное поле</li>
                        <li>Минимальная длинна 6 символов</li>
                    </ul>
                </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': regForm.repeatPassword.$invalid && (regForm.repeatPassword.$touched || regForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="password" ng-change="$ctrl.comparePasswords(regForm)" ng-model="$ctrl.data.repeatPassword" name="repeatPassword" ng-required="true" class="form-control" placeholder="Повторите пароль" minlength="6" maxlength="50">
        <span class="help-block" ng-if="regForm.repeatPassword.$invalid && (regForm.repeatPassword.$touched || regForm.$submitted)">
                    <ul>
                        <li ng-if="!regForm.repeatPassword.$error.cmppasswords">Обязательное поле</li>
                        <li ng-if="!regForm.repeatPassword.$error.cmppasswords">Минимальная длинна 6 символов</li>
                        <li ng-if="regForm.repeatPassword.$error.cmppasswords">Пароли не совпадают</li>
                    </ul>
                </span>
    </div>
    <div class="form-group text-center">
        <button ng-disabled="$ctrl.busy" class="btn btn-default btn-lg" type="submit">Зарегистрироваться</button>
    </div>
</form>
<p ng-show="$ctrl.regComplete">
    На указанный вами email выслан запрос на подтверждение регистрации.
    Неподтвержденные регистрации удаляются в течение 3 дней.
</p>