doctype html
html(lang="en")
    head
        title(ng-bind='$root.title')= title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head
            link(href='/build/css/dashboard.vendor.css', rel='stylesheet')
            link(href='/build/css/dashboard.css', rel='stylesheet')
    body.b-dashboard
        block content
        script(src='/build/dashboard.vendor.js')
        script(src='/build/dashboard.js')