doctype html
html(lang="en")
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block head
            link(href='/build/css/app.vendor.css', rel='stylesheet', type='text/css')
            link(href='/build/css/app.css', rel='stylesheet', type='text/css')
    body.b-website
        include ../partials/_nav
        main
            .container
                block content
        include ../partials/_footer
        script(src='/build/app.vendor.js')
        script(src='/build/app.js')