<form name="rf" ng-submit="submit(rf)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Сброс пароля</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': rf.password.$invalid && rf.$submitted}">
            <input ng-disabled="state.busy"
                   ng-change="comparePasswords(rf)"
                   type="password"
                   ng-model="state.password"
                   name="password"
                   ng-required="true"
                   class="form-control"
                   placeholder="Пароль"
                   minlength="6"
                   maxlength="50" tabindex="1" autofocus="false">
            <ul class="help-block" ng-if="rf.password.$invalid && rf.$submitted">
                <li>Обязательное поле</li>
                <li>Минимальная длинна 6 символов</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': rf.repeatPassword.$invalid && rf.$submitted}">
            <input ng-disabled="state.busy"
                   type="password"
                   ng-change="comparePasswords(rf)"
                   ng-model="state.repeatPassword"
                   name="repeatPassword"
                   ng-required="true"
                   class="form-control"
                   placeholder="Повторите пароль"
                   minlength="6"
                   maxlength="50" tabindex="2">
            <ul class="help-block" ng-if="rf.repeatPassword.$invalid && rf.$submitted">
                <li ng-if="!rf.repeatPassword.$error.cmppasswords">Обязательное поле</li>
                <li ng-if="!rf.repeatPassword.$error.cmppasswords">Минимальная длинна 6 символов</li>
                <li ng-if="rf.repeatPassword.$error.cmppasswords">Пароли не совпадают</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="state.busy" tabindex="3">Сохранить</button>
        <button class="btn btn-warning" ng-click="cancel($event)" ng-disabled="state.busy" tabindex="4">Отмена</button>
    </div>
</form>