<div class="modal-header">
    <h3 class="modal-title" ng-bind="state.title"></h3>
</div>
<form name="form" id="form" ng-submit="ok(form, $event)" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && form.$submitted}">
            <label>Название <span class="text-danger">*</span></label>
            <input class="form-control"
                   type="text"
                   name="title"
                   ng-required="true"
                   minlength="2"
                   maxlength="100"
                   ng-model="state.model.title"
                   ng-disabled="state.busy">
            <ul class="help-block" ng-if="form.title.$invalid && form.$submitted">
                <li>Минимальная длинна 2 символа.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.url.$invalid && form.$submitted}">
            <label for="url">Ссылка <span class="text-danger">*</span></label>
            <input id="url"
                   pattern="^[a-z-_0-9]+$"
                   class="form-control"
                   type="text"
                   name="url"
                   ng-required="true"
                   maxlength="100"
                   ng-disabled="state.busy"
                   ng-model="state.model.url">
            <ul class="help-block" ng-if="form.url.$invalid && form.$submitted">
                <li ng-if="form.url.$error.required">Обязательное поле.</li>
                <li ng-if="form.url.$error.pattern">Только латинские буквы в нижнем регистре, цифры, '_', '-'.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && form.$submitted}">
            <label>Описание</label>
            <textarea rows="3"
                      maxlength="1000"
                      class="form-control"
                      name="description"
                      ng-model="state.model.description"
                      ng-disabled="state.busy">
            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                type="submit"
                ng-disabled="state.busy">{{state.edit ? 'Обновить' : 'Добавить'}}</button>
        <button class="btn btn-warning"
                type="button"
                ng-disabled="state.busy"
                ng-click="cancel($event)">Отмена</button>
    </div>
</form>