extends ../layouts/_web
block append content
    .b-error-container
        .row.b-error-container__cell
            .text-center.col-sm-4.col-sm-offset-4
                h1.text-danger Страница не найдена
                h4 Попробуйте перейти по другой ссылке