extends ../layouts/_web

block append content
    .b-error-container
        .row.b-error-container__cell
            .text-center.col-sm-4.col-sm-offset-4
                h1.text-danger Что-то пошло не так...
                h4 В ближашее время проблема будет устранена. Приносим свои извенения.