<div class="col-sm-2 b-list__item__col hidden-xs">
    <div class="b-list__item__col__centered" ng-if="$ctrl.book.type == 1">
        <i class="fa fa-folder-open-o fa-3x b-item b-curp" ui-sref=".({parent: $ctrl.book._id, page: 1, title: null})"></i>
    </div>
    <div class="b-list__item__col__centered" ng-if="$ctrl.book.type == 4" ui-sref=".({parent: $ctrl.book._id, page: 1, title: null})">
        <i class="fa fa-files-o fa-3x b-item b-curp"></i>
    </div>
    <div class="b-list__item__col__centered" ng-if="$ctrl.book.type == 5">
        <img class="b-item" ng-src="{{$ctrl.book.cover.fileName | sceLink}}">
    </div>
</div>
<div class="col-xs-2 b-list__item__col visible-xs">
    <div class="b-list__item__col__centered" ng-if="$ctrl.book.type == 1">
        <i class="fa fa-folder-open-o fa-2x b-item b-curp" ui-sref=".({parent: $ctrl.book._id, page: 1, title: null})"></i>
    </div>
    <div class="b-list__item__col__centered" ng-if="$ctrl.book.type == 4" ui-sref=".({parent: $ctrl.book._id, page: 1, title: null})">
        <i class="fa fa-files-o fa-2x b-item b-curp"></i>
    </div>
    <div class="b-list__item__col__centered" ng-if="$ctrl.book.type == 5">
        <img class="b-item" ng-src="{{$ctrl.book.cover.fileName | sceLink}}">
    </div>
</div>
<div class="col-sm-4 col-xs-7 b-list__item__col">
    <div class="b-list__item__col__lcentered">
        <div class="b-item">
            <div class="b-wrap-text">
                Название:
                <b>
                    <a ui-sref=".({parent: $ctrl.book._id, page: 1, title: null})"
                       ng-if="$ctrl.book.type == 1 || $ctrl.book.type == 4"
                       ng-bind="$ctrl.book.title | truncate: 25: '...'"></a>
                    <span ng-if="$ctrl.book.type == 1 || $ctrl.book.type == 4">
                        <i class="fa fa-file-sound-o"></i> {{$ctrl.book.counters.audiobooks.total}}/<span class="text-success" ng-bind="$ctrl.book.counters.audiobooks.published"></span>
                        <i class="fa fa-book"></i> {{$ctrl.book.counters.ebooks.total}}/<span class="text-success" ng-bind="$ctrl.book.counters.ebooks.published"></span>
                        <i class="fa fa-link"></i> {{$ctrl.book.counters.remote.total}}/<span class="text-success" ng-bind="$ctrl.book.counters.remote.published"></span>
                    </span>
                    <a ui-sref=".editor({id: $ctrl.book._id})"
                       ng-if="$ctrl.book.type == 5"
                       ng-bind="$ctrl.book.title | truncate: 25: '...'"></a>
                </b>
            </div>
            <div>Ссылка: <b ng-bind="$ctrl.book.url"></b></div>
            <div class="hidden-xs b-wrap-text">Описание: <b ng-bind="$ctrl.book.description | truncate: 30: '...'"></b></div>
            <div class="visible-xs">Создан: <b ng-bind="$ctrl.book.createdBy.nickname"></b></div>
            <div class="visible-xs">Дата создания: <b class="" ng-bind="$ctrl.book.created | date: 'yyyy.MM.dd H:mm:ss'"></b></div>
            <div ng-if="$ctrl.book.type == 5">
                Тип: <b class="fa" ng-class="{'fa-file-sound-o': $ctrl.book.bookType == 1, 'fa-book': $ctrl.book.bookType == 2}"></b>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 b-list__item__col hidden-xs">
    <div class="b-list__item__col__lcentered">
        <div class="b-item">
            <div ng-if="$ctrl.book.bookType == 1">Длительность: <b class="b-wrap-text" ng-bind="$ctrl.book | bookDuration"></b></div>
            <div>Создан: <b class="b-wrap-text" ng-bind="$ctrl.book.createdBy.nickname"></b></div>
            <div>Дата создания: <b class="b-wrap-text" ng-bind="$ctrl.book.created | date: 'yyyy.MM.dd H:mm:ss'"></b></div>
        </div>
    </div>
</div>
<div class="col-sm-2 col-xs-3 b-list__item__col">
    <div class="b-list__item__col__centered">
        <div class="b-item">
            <a ui-sref=".editor({id: $ctrl.book._id})"
               class="btn btn-default btn-sm"
               uib-tooltip="Редактировать" ng-if="$ctrl.book.type == 5">
                <i class="fa fa-pencil"></i>
            </a>
            <button class="btn btn-default btn-sm"
                    ng-click="$ctrl.edit($ctrl.book)"
                    uib-tooltip="Редактировать"
                    ng-if="$ctrl.book.type == 1 || $ctrl.book.type == 4">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-sm" ng-click="$ctrl.delete($ctrl.book)" uib-tooltip="Удалить">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>