<div class="row b-toolbar">
    <div class="col-lg-6 col-md-3 col-sm-4 col-xs-8 b-toolbar__col">
        <form name="toolbarForm" ng-submit="$ctrl.search.invoke()">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="title"
                       ng-model="$ctrl.search.value"
                       placeholder="Поиск по имени">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-toolbar" uib-tooltip="Поиск" tooltip-placement="bottom">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-4 text-right b-toolbar__col visible-xs">
        <a ui-sref=".editor({id: null})"
           class="btn btn-default"
           uib-tooltip="Добавить автора"
           tooltip-placement="bottom">
            <i class="fa fa-user-plus"></i>
        </a>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-8 b-toolbar__col text-right hidden-xs">
        <a ui-sref=".editor({id: null})"
           class="btn btn-default">
            <i class="fa fa-user-plus"></i> Добавить автора
        </a>
    </div>
</div>

<div class="b-list">
    <div class="row b-list__item" ng-repeat="author in $ctrl.authors.docs">
        <div class="col-sm-2 b-list__item__col hidden-xs">
            <div class="b-list__item__col__centered">
                <i class="fa fa-user fa-3x b-item"></i>
            </div>
        </div>
        <div class="col-xs-2 b-list__item__col visible-xs">
            <div class="b-list__item__col__centered">
                <i class="fa fa-user fa-2x b-item"></i>
            </div>
        </div>
        <div class="col-sm-8 col-xs-6 b-list__item__col">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div class="b-wrap-text">
                        Имя:
                        <b>
                            <a ui-sref=".editor({id: author._id})"
                               ng-bind="author.fullName | truncate: 25: '...'"></a>
                        </b>
                    </div>
                    <div>Создан: <b ng-bind="author.createdBy.nickname"></b></div>
                    <div>Дата создания: <b ng-bind="author.created | date: 'yyyy.MM.dd H:mm:ss'"></b></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-4 b-list__item__col hidden-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item">
                    <a class="btn btn-default btn-sm"
                       ui-sref=".editor({id: author._id})"
                       uib-tooltip="Редактировать">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-danger btn-sm" ng-click="$ctrl.delete(author)" uib-tooltip="Удалить">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-4 b-list__item__col visible-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item">
                    <a class="btn btn-default btn-xs"
                       ui-sref=".editor({id: author._id})"
                       uib-tooltip="Редактировать">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-danger btn-xs" ng-click="$ctrl.delete(book)" uib-tooltip="Удалить">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<paginator url="$ctrl.url"
           page="$ctrl.authors.page"
           limit="$ctrl.authors.limit"
           pages="$ctrl.authors.pages"
           total="$ctrl.authors.total">
</paginator>