<div class="row b-toolbar">
    <div class="col-lg-6 col-md-3 col-sm-4 col-xs-8 b-toolbar__col">
        <form name="toolbarForm" ng-submit="$ctrl.search.invoke()">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="title"
                       ng-model="$ctrl.search.value"
                       placeholder="Поиск по имени">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-toolbar">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-4 text-right b-toolbar__col visible-xs">
        <button class="btn btn-default"
                uib-tooltip="Добавить жанр"
                tooltip-placement="bottom"
                ng-if="$ctrl.parent == 'root'"
                ng-click="$ctrl.add(1)">
            <i class="fa fa-folder"></i>
        </button>
        <button class="btn btn-default"
                ng-if="$ctrl.parentType == 1"
                uib-tooltip="Добавить серию"
                tooltip-placement="bottom"
                ng-click="$ctrl.add(4)">
            <i class="fa fa-files-o"></i>
        </button>
        <a ng-if="$ctrl.parentType == 1 || $ctrl.parentType == 4"
           ui-sref=".editor({parent: $ctrl.parent, id: null})"
           class="btn btn-default"
           uib-tooltip="Добавить книгу"
           tooltip-placement="bottom">
            <i class="fa fa-book"></i>
        </a>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-8 b-toolbar__col text-right hidden-xs">
        <button class="btn btn-default"
                ng-click="$ctrl.add(1)"
                ng-if="$ctrl.parent == 'root'">
            <i class="fa fa-folder"></i> Добавить жанр
        </button>
        <button ng-if="$ctrl.parentType == 1"
                class="btn btn-default"
                ng-click="$ctrl.add(4)">
            <i class="fa fa-files-o"></i> Добавить серию
        </button>
        <a ng-if="$ctrl.parentType == 1 || $ctrl.parentType == 4"
           ui-sref=".editor({parent: $ctrl.parent, id: null})"
           class="btn btn-default">
            <i class="fa fa-book"></i> Добавить книгу
        </a>
    </div>
</div>

<div class="row b-breadcrumbs" ng-if="$ctrl.breadcrumbs.length > 0">
    <a class="fa fa-home" ui-sref="dashboard.book({parent: 'root', page: 1, title: null})"></a>
    <span ng-repeat="bc in $ctrl.breadcrumbs">
        <a ui-sref="dashboard.book({parent: bc._id, page: 1, title: null})" ng-bind="bc.title"></a> {{$last ? '' : '/'}}
    </span>
</div>

<div class="b-list">
    <div class="row b-list__item" ng-repeat="book in $ctrl.books.docs" ng-if="$ctrl.parentType == 1 || $ctrl.parentType == null">
        <book-list-item ng-class="{'alert-success': book.published && book.type == 5 }" book="book" load="$ctrl.load"></book-list-item>
    </div>
    <div class="row b-list__item" ng-repeat="book in $ctrl.books.docs | orderBy: ['sortOrder']" ng-if="$ctrl.parentType == 4">
        <book-list-item ng-class="{'alert-success': book.published && book.type == 5 }" book="book" load="$ctrl.load"></book-list-item>
    </div>
</div>

<paginator url="$ctrl.url"
           page="$ctrl.books.page"
           limit="$ctrl.books.limit"
           pages="$ctrl.books.pages"
           total="$ctrl.books.total">
</paginator>