<div class="row b-breadcrumbs" ng-if="$ctrl.breadcrumbs.length > 0">
    <a class="fa fa-home" ui-sref="^({parent: 'root', page: 1})"></a>
    <span ng-repeat="bc in $ctrl.breadcrumbs">
        <a ui-sref="^({parent: bc._id})" ng-bind="bc.title"></a> {{$last ? '' : '/'}}
    </span>
</div>

<div class="b-editor">
    <div class="b-editor__loader" ng-show="$ctrl.state.busy">
        <div class="b-editor__loader__bg">
        </div>
        <div class="b-editor__loader__spinner">
            <i class="fa fa-circle-o-notch fa-4x fa-spin fa-fw"></i>
        </div>
    </div>
    <form name="form" ng-submit="$ctrl.save(form)" novalidate>
        <div class="form-group" ng-if="!$ctrl.book._id" ng-class="{'has-error': form.bookType.$invalid && (form.bookType.$touched || form.$submitted)}">
            <div>
                <label>Тип <span class="b-required">*</span></label>
                <input type="hidden" name="bookType" ng-required="true" ng-model="$ctrl.book.bookType">
            </div>
            <div class="btn-group btn-group-justified">
                <label class="btn btn-default"
                       ng-model="$ctrl.book.bookType"
                       uib-btn-radio="1"
                       ng-click="$ctrl.bookTypeChange()">
                    Аудиокнига
                </label>
                <label class="btn btn-default"
                       ng-model="$ctrl.book.bookType"
                       uib-btn-radio="2"
                       ng-click="$ctrl.bookTypeChange()">
                    Электронная книга
                </label>
            </div>
            <ul class="help-block" ng-if="form.bookType.$invalid && (form.bookType.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.url.$invalid && (form.url.$touched || form.$submitted)}">
            <label for="url">Ссылка <span class="b-required">*</span></label>
            <input id="url"
                   pattern="^[a-z-_0-9]+$"
                   class="form-control"
                   type="text"
                   name="url"
                   ng-required="true"
                   maxlength="100"
                   ng-model="$ctrl.book.url">
            <ul class="help-block" ng-if="form.url.$invalid && (form.url.$touched || form.$submitted)">
                <li ng-if="form.url.$error.required">Обязательное поле.</li>
                <li ng-if="form.url.$error.pattern">Только латинские буквы в нижнем регистре, цифры, '_', '-'.</li>
            </ul>
        </div>
        <div class="form-group" ng-if="$ctrl.book._id">
            <div>
                Тип: <b>{{ $ctrl.book.bookType == 1 ? 'Аудиокнига' : 'Электронная книга' }}</b>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.cover.$invalid && (form.cover.$touched || form.$submitted)}">
            <label>Обложка <span class="b-required">*</span></label>
            <input type="hidden" name="cover" ng-required="true" ng-model="$ctrl.book.cover._id">
            <media-picker media="$ctrl.book.cover"
                          disabled="$ctrl.state.busy"
                          mime-types="['image/jpeg', 'image/png', 'image/gif']">
            </media-picker>
            <ul class="help-block" ng-if="form.cover.$invalid && (form.cover.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && (form.title.$touched || form.$submitted)}">
            <label for="title">Название <span class="b-required">*</span></label>
            <input class="form-control" type="text" name="title" id="title" ng-model="$ctrl.book.title" ng-required="true">
            <ul class="help-block" ng-if="form.title.$invalid && (form.title.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group"
             ng-class="{'has-error': form.description.$invalid && (form.description.$touched || form.$submitted)}">
            <label for="description">Описание <span class="b-required">*</span></label>
            <textarea class="form-control"
                      rows="5"
                      name="description"
                      id="description"
                      ng-model="$ctrl.book.description"
                      ng-required="true"></textarea>
            <ul class="help-block" ng-if="form.description.$invalid && (form.description.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.year.$invalid && (form.year.$touched || form.$submitted)}">
            <label for="year">Год публикации</label>
            <input class="form-control"
                   min="0"
                   max="{{$ctrl.state.currentYear}}"
                   type="number"
                   name="year"
                   id="year"
                   ng-model="$ctrl.book.year">
            <ul class="help-block" ng-if="form.year.$invalid && (form.year.$touched || form.$submitted)">
                <li>Поле должно быть числом от 0 до {{$ctrl.state.currentYear}}.</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="ISBN">ISBN</label>
            <input class="form-control" type="text" name="ISBN" id="ISBN" ng-model="$ctrl.book.ISBN">
        </div>
        <div class="form-group"
             ng-if="$ctrl.book.bookType == 2"
             ng-class="{'has-error': form.pages.$invalid && (form.pages.$touched || form.$submitted)}">
            <label for="pages">Страниц <span class="b-required">*</span></label>
            <input class="form-control"
                   type="number"
                   min="1"
                   name="pages"
                   id="pages"
                   ng-model="$ctrl.book.pages"
                   ng-required="true">
            <ul class="help-block" ng-if="form.pages.$invalid && (form.pages.$touched || form.$submitted)">
                <li>Минимальная длинна 1 страница.</li>
            </ul>
        </div>
        <div class="form-group"
             ng-class="{'has-error': form.author.$invalid && (form.author.$touched || form.$submitted)}">
            <label>Автор <span class="b-required">*</span></label>
            <input type="hidden" name="author" ng-required="true" ng-model="$ctrl.book.author._id">
            <book-author-picker model="$ctrl.book.author"
                                disabled="$ctrl.state.busy">
            </book-author-picker>
            <ul class="help-block" ng-if="form.author.$invalid && (form.author.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group"
             ng-if="$ctrl.book.bookType == 1"
             ng-class="{'has-error': form.performer.$invalid && (form.performer.$touched || form.$submitted)}">
            <label>Исполнитель <span class="b-required">*</span></label>
            <input type="hidden" name="performer" ng-required="true" ng-model="$ctrl.book.performer._id">
            <book-performer-picker model="$ctrl.book.performer"
                                   disabled="$ctrl.state.busy">
            </book-performer-picker>
            <ul class="help-block" ng-if="form.performer.$invalid && (form.performer.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': $ctrl.book.medias.length == 0 && ($ctrl.state.mediasDirty || form.$submitted) }">
            <label>Файлы <span class="b-required">*</span></label>
            <media-set-picker ng-if="$ctrl.book.bookType == 2"
                              medias="$ctrl.book.medias"
                              mime-types="['text/plain', 'application/epub+zip', 'fb2']"
                              on-change="$ctrl.mediasChange">
            </media-set-picker>
            <media-set-picker ng-if="$ctrl.book.bookType == 1"
                              medias="$ctrl.book.medias"
                              add-all-mode="true"
                              mime-types="['audio/mp3']"
                              on-change="$ctrl.mediasChange">
            </media-set-picker>
            <ul class="help-block" ng-if="$ctrl.book.medias.length == 0 && ($ctrl.state.mediasDirty || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.sortOrder.$invalid && (form.sortOrder.$touched || form.$submitted)}">
            <label for="sortOrder">
                Вес сортировки для отображения в серии книг
            </label>
            <input type="number" min="0" name="sortOrder" id="sortOrder" class="form-control" ng-model="$ctrl.book.sortOrder" ng-required="true">
            <ul class="help-block" ng-if="form.sortOrder.$invalid && (form.sortOrder.$touched || form.$submitted)">
                <li>Минимальное значение 0.</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="tags">
                Хештеги
            </label>
            <input type="text" name="tags" id="tags" class="form-control" ng-model="$ctrl.state.tags">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="$ctrl.book.published"> Опубликовать
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="$ctrl.book.mediasUnpublished"> Убрать медиа файлы с публикации по просьбе правообладателя
                </label>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-success btn-lg" type="submit" value="Сохранить">
        </div>
    </form>
</div>