<div class="b-editor">
    <form name="form" ng-submit="$ctrl.save($event, form)" novalidate>
        <div class="form-group"
             ng-class="{'has-error': form.fullName.$invalid && (form.fullName.$touched || form.$submitted)}">
            <label for="fullName">
                Имя исполнителя
                <span class="b-required">*</span>
            </label>
            <input class="form-control"
                   id="fullName"
                   type="text"
                   name="fullName"
                   ng-required="true"
                   minlength="2"
                   maxlength="200"
                   ng-model="$ctrl.performer.fullName"
                   ng-disabled="$ctrl.state.busy">
            <ul class="help-block" ng-if="form.fullName.$invalid && (form.fullName.$touched || form.$submitted)">
                <li >Минимальная длинна 2 символа.</li>
            </ul>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg" ng-disabled="$ctrl.state.busy" value="Сохранить">
        </div>
    </form>
</div>