<div class="row b-toolbar">
    <div class="col-lg-6 col-md-3 col-sm-4 col-xs-8 b-toolbar__col">
        <form name="toolbarForm" ng-submit="$ctrl.search.invoke($event)">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="title"
                       ng-model="$ctrl.search.value"
                       placeholder="Поиск по имени">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-toolbar" uib-tooltip="Поиск" tooltip-placement="bottom">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-4 text-right b-toolbar__col visible-xs">
        <button class="btn btn-default"
                uib-tooltip="Добавить раздел"
                tooltip-placement="bottom"
                ng-if="$ctrl.parent == null || $ctrl.parent == 'root'"
                ng-click="$ctrl.addCategory($ctrl.parent)">
            <i class="fa fa-folder"></i>
        </button>
        <a ui-sref=".editor({id: null})"
           class="btn btn-default"
           ng-if="$ctrl.parent != null && $ctrl.parent != 'root'"
           uib-tooltip="Добавить документ"
           tooltip-placement="bottom">
            <i class="fa fa-file"></i>
        </a>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-8 b-toolbar__col text-right hidden-xs">
        <button class="btn btn-default"
                ng-if="$ctrl.parent == null || $ctrl.parent == 'root'"
                ng-click="$ctrl.addCategory($ctrl.parent)">
            <i class="fa fa-folder"></i> Добавить раздел
        </button>
        <a ui-sref=".editor({id: null})"
           ng-if="$ctrl.parent != null && $ctrl.parent != 'root'"
           class="btn btn-default">
            <i class="fa fa-file"></i> Добавить документ
        </a>
    </div>
</div>

<div class="row b-breadcrumbs" ng-if="$ctrl.breadcrumbs.length > 0">
    <a class="fa fa-home" ui-sref=".({parent: 'root', page: 1})"></a>
    <span ng-repeat="bc in $ctrl.breadcrumbs">
        <a ui-sref=".({parent: bc._id})" ng-bind="bc.title"></a> {{$last ? '' : '/'}}
    </span>
</div>


<div class="b-list">
    <div class="row b-list__item" ng-repeat="doc in $ctrl.entities.docs | orderBy: ['type', 'sortOrder', 'title']">
        <div class="col-sm-2 b-list__item__col hidden-xs">
            <div class="b-list__item__col__centered" ng-if="doc.type == 1">
                <i class="fa fa-folder-open-o fa-3x b-item"></i>
            </div>
            <div class="b-list__item__col__centered" ng-if="doc.type != 1">
                <i class="fa fa-file fa-3x b-item"></i>
            </div>
        </div>
        <div class="col-xs-2 b-list__item__col visible-xs">
            <div class="b-list__item__col__centered" ng-if="doc.type == 1">
                <i class="fa fa-folder-open-o fa-2x b-item"></i>
            </div>
            <div class="b-list__item__col__centered" ng-if="doc.type != 1">
                <i class="fa fa-file fa-2x b-item"></i>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 b-list__item__col">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div class="b-wrap-text">
                        Название:
                        <b>
                            <a ui-sref=".({parent: doc._id, page: 1, title: ''})"
                               ng-if="doc.type == 1">
                                {{doc.title | truncate: 25: '...'}} ({{doc.counters.total}}/{{doc.counters.published}})
                            </a>
                            <a ui-sref=".editor({id: doc._id})"
                               ng-if="doc.type != 1"
                               ng-bind="doc.title | truncate: 25: '...'"></a>
                        </b>
                    </div>
                    <div>Создан: <b ng-bind="doc.createdBy.nickname"></b></div>
                    <div>Дата создания: <b ng-bind="doc.created | date: 'yyyy.MM.dd H:mm:ss'"></b></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 b-list__item__col hidden-xs">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div>
                        Вес сортировки: <b ng-bind="doc.sortOrder"></b>
                    </div>
                    <div>
                        Ссылка: <b ng-bind="doc.url"></b>
                    </div>
                    <div class="b-wrap-text" ng-if="doc.type == 2 && doc.tags && doc.tags.length > 0">
                        Хештеги:
                        <span class="small" ng-repeat="tag in doc.tags" ng-if="$index < 3">
                            <b ng-bind="tag"></b>{{$last ? '' : ' '}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 b-list__item__col hidden-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item text-center">
                    <button class="btn btn-success btn-sm"
                            uib-tooltip="Опубликовать"
                            ng-if="doc.type == 2 && !doc.published"
                            ng-click="$ctrl.publish(doc, true)">
                        <i class="fa fa-paper-plane-o"></i>
                    </button>
                    <button class="btn btn-warning btn-sm"
                            uib-tooltip="Снять с публикации"
                            ng-if="doc.type == 2 && doc.published"
                            ng-click="$ctrl.publish(doc, false)">
                        <i class="fa fa-paper-plane-o"></i>
                    </button>
                    <button class="btn btn-default btn-sm"
                            uib-tooltip="Редактировать"
                            ng-click="$ctrl.editCategory(doc)"
                            ng-if="doc.type == 1">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <a class="btn btn-default btn-sm"
                       uib-tooltip="Редактировать"
                       ng-if="doc.type == 2"
                       ui-sref=".editor({id: doc._id})">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-danger btn-sm"
                            uib-tooltip="Удалить"
                            ng-click="$ctrl.delete(doc)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 b-list__item__col visible-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item">
                    <button class="btn btn-success btn-xs"
                            uib-tooltip="Опубликовать"
                            ng-if="doc.type == 2 && !doc.published"
                            ng-click="$ctrl.publish(doc, true)">
                        <i class="fa fa-paper-plane-o"></i>
                    </button>
                    <button class="btn btn-warning btn-xs"
                            uib-tooltip="Снять с публикации"
                            ng-if="doc.type == 2 && doc.published"
                            ng-click="$ctrl.publish(doc, false)">
                        <i class="fa fa-paper-plane-o"></i>
                    </button>
                    <button class="btn btn-default btn-xs"
                            uib-tooltip="Редактировать"
                            ng-click="$ctrl.editCategory(doc)"
                            ng-if="doc.type == 1">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <a class="btn btn-default btn-xs"
                       uib-tooltip="Редактировать"
                       ng-if="doc.type == 2"
                       ui-sref=".editor({id: doc._id})">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-danger btn-xs"
                            uib-tooltip="Удалить"
                            ng-click="$ctrl.delete(doc)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<paginator url="$ctrl.url"
           page="$ctrl.entities.page"
           limit="$ctrl.entities.limit"
           pages="$ctrl.entities.pages"
           total="$ctrl.entities.total">
</paginator>