<div class="row b-breadcrumbs" ng-if="$ctrl.breadcrumbs.length > 0">
    <a class="fa fa-home" ui-sref="^({id: 'root', page: 1})"></a>
    <span ng-repeat="bc in $ctrl.breadcrumbs">
        <a ui-sref="^({id: bc._id})" ng-bind="bc.title"></a> {{$last ? '' : '/'}}
    </span>
</div>

<div class="b-editor">
    <div class="b-editor__loader" ng-show="$ctrl.busy">
        <div class="b-editor__loader__bg">
        </div>
        <div class="b-editor__loader__spinner">
            <i class="fa fa-circle-o-notch fa-4x fa-spin fa-fw"></i>
        </div>
    </div>
    <form name="form" ng-submit="$ctrl.submit(form)" novalidate>
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && (form.title.$touched || form.$submitted)}">
            <label for="title">
                Название
                <span class="b-required">*</span>
            </label>
            <input class="form-control"
                   id="title"
                   type="text"
                   name="title"
                   ng-required="true"
                   minlength="2"
                   maxlength="200"
                   ng-model="$ctrl.document.title"
                   ng-disabled="$ctrl.busy">
            <ul class="help-block" ng-if="form.title.$invalid && (form.title.$touched || form.$submitted)">
                <li ng-if="form.title.$error.required">Обязательное поле.</li>
                <li ng-if="form.title.$error.minlength">Минимальная длинна 2 символа.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.media.$invalid && (form.media.$touched || form.$submitted)}">
            <label for="media">
                Медиа файл
                <span class="b-required">*</span>
            </label>
            <input type="hidden" id="media" name="media" ng-required="true" ng-model="$ctrl.document.media._id">
            <media-picker media="$ctrl.document.media"
                          disabled="$ctrl.busy"
                          mime-types="['image/jpeg', 'image/png', 'image/gif', 'youtube']">
            </media-picker>
            <ul class="help-block" ng-if="form.media.$invalid && (form.media.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.url.$invalid && (form.url.$touched || form.$submitted)}">
            <label for="url">Ссылка <span class="b-required">*</span></label>
            <input id="url"
                   pattern="^[a-z-_0-9]+$"
                   class="form-control"
                   type="text"
                   name="url"
                   ng-required="true"
                   maxlength="100"
                   ng-model="$ctrl.document.url"
                   ng-disabled="$ctrl.busy">
            <ul class="help-block" ng-if="form.url.$invalid && (form.url.$touched || form.$submitted)">
                <li ng-if="form.url.$error.required">Обязательное поле.</li>
                <li ng-if="form.url.$error.pattern">Только латинские буквы в нижнем регистре, цифры, '_', '-'.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.shortBody.$invalid && (form.shortBody.$touched || form.$submitted)}">
            <label for="shortBody">
                Краткое описание
                <span class="b-required">*</span>
            </label>
            <textarea id="shortBody"
                      rows="3"
                      name="shortBody"
                      class="form-control"
                      ng-model="$ctrl.document.shortBody"
                      ng-required="true"
                      ng-disabled="$ctrl.busy">>
            </textarea>
            <ul class="help-block" ng-if="form.shortBody.$invalid && (form.shortBody.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group" ng-class="{'has-error': form.body.$invalid && (form.body.$touched || form.$submitted)}">
            <label for="body">
                Текст
                <span class="b-required">*</span>
            </label>
            <textarea id="body"
                      rows="5"
                      name="body"
                      class="form-control"
                      ng-model="$ctrl.document.body"
                      ng-required="true"
                      ng-disabled="$ctrl.busy">>
            </textarea>
            <ul class="help-block" ng-if="form.body.$invalid && (form.body.$touched || form.$submitted)">
                <li>Обязательное поле.</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="tags">
                Хештеги
            </label>
            <input type="text" name="tags" id="tags" class="form-control" ng-model="$ctrl.tags" ng-disabled="$ctrl.busy">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="pinnedUp" ng-model="$ctrl.document.pinnedUp" ng-disabled="$ctrl.busy"> Закреплен
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-lg" value="Сохранить" ng-disabled="$ctrl.busy">
        </div>
    </form>
</div>