<div class="b-picker-set">
    <div class="b-list b-list-form b-list-middle">
        <div class="row b-list__item" ng-repeat="doc in $ctrl.medias track by $index">
            <div class="col-sm-2 b-list__item__col hidden-xs">
                <preview-media
                        media="doc"
                        item-class="'b-item b-curp'"
                        icon-class="'fa-3x b-item b-curp'"
                        container-class="'b-list__item__col__centered'"
                        action="$ctrl.preview">
                </preview-media>
            </div>
            <div class="col-xs-2 b-list__item__col visible-xs">
                <preview-media
                        media="doc"
                        item-class="'b-item b-curp'"
                        icon-class="'fa-2x b-item b-curp'"
                        container-class="'b-list__item__col__centered'"
                        action="$ctrl.preview">
                </preview-media>
            </div>
            <div class="col-sm-4 col-xs-6 b-list__item__col">
                <div class="b-list__item__col__lcentered">
                    <div class="b-item">
                        <div class="b-wrap-text">
                            Название:
                            <b>
                                <a class="b-curp"
                                   ng-click="$ctrl.copyLink(doc)"
                                   ng-bind="doc.title | truncate: 25: '...'"></a>
                            </b>
                        </div>
                        <div>Создан: <b ng-bind="doc.createdBy.nickname"></b></div>
                        <div>Дата создания: <b ng-bind="doc.created | date: 'yyyy.MM.dd H:mm:ss'"></b></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 b-list__item__col hidden-xs">
                <div class="b-list__item__col__lcentered">
                    <div class="b-item">
                        <div>
                            Тип: <b ng-bind="doc.mimeType"></b>
                        </div>
                        <div ng-if="doc.type != 1 && doc.mimeType != 'youtube'">
                            Размер: <b>{{doc.size | fileSize: 2}}</b>
                        </div>
                        <div ng-if="doc.type != 1 && doc.mimeType == 'audio/mp3'">
                            Длительность: <b ng-bind="doc.duration | duration"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 b-list__item__col hidden-xs">
                <div class="b-list__item__col__centered">
                    <div class="b-item">
                        <span class="btn btn-default btn-sm b-curp" ng-click="$ctrl.moveUp($index)" ng-if="$index > 0">
                            <i class="fa fa-arrow-up"></i>
                        </span>
                        <span class="btn btn-default btn-sm b-curp" ng-click="$ctrl.moveDown($index)" ng-if="$index < ($ctrl.medias.length - 1)">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                        <span class="btn btn-danger btn-sm b-curp"
                              uib-tooltip="Удалить"
                              ng-click="$ctrl.delete($index)">
                            <i class="fa fa-trash"></i>
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-xs-4 b-list__item__col visible-xs">
                <div class="b-list__item__col__rcentered">
                    <div class="b-item">
                        <span class="btn btn-default btn-xs b-curp" ng-click="$ctrl.moveUp($index)" ng-if="$index > 0">
                            <i class="fa fa-arrow-up"></i>
                        </span>
                        <span class="btn btn-default btn-xs b-curp" ng-click="$ctrl.moveDown($index)" ng-if="$index < ($ctrl.medias.length - 1)">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                        <span class="btn btn-danger btn-xs b-curp"
                              uib-tooltip="Удалить"
                              ng-click="$ctrl.delete($index)">
                            <i class="fa fa-trash"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row b-toolbar b-toolbar-no-margin">
        <div class="col-sm-2 b-toolbar__col">
            <media-picker media="$ctrl.media"
                          show-delete-button="false"
                          add-all-mode="$ctrl._addAllMode"
                          icon-class="'fa fa-plus'"
                          select-button-text="'Добавить'"
                          on-change="$ctrl.addFile"
                          mime-types="$ctrl.mimeTypes">
            </media-picker>
        </div>
        <div class="col-sm-10 b-toolbar__col">

        </div>
    </div>
</div>