<div class="row b-toolbar">
    <div class="col-lg-6 col-md-3 col-sm-4 col-xs-8 b-toolbar__col">
        <form name="toolbarForm" ng-submit="$ctrl.search.invoke($event)">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="title"
                       ng-model="$ctrl.search.value"
                       placeholder="Поиск по имени">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-toolbar" uib-tooltip="Поиск" tooltip-placement="bottom">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-4 text-right b-toolbar__col visible-xs">
        <button class="btn btn-default"
                uib-tooltip="Создать папку"
                tooltip-placement="bottom"
                ng-click="$ctrl.createFolder($ctrl.parent)">
            <i class="fa fa-folder"></i>
        </button>
        <button ng-click="$ctrl.uploadFile($ctrl.parent)"
           class="btn btn-default"
           uib-tooltip="Загрузить файл"
           tooltip-placement="bottom">
            <i class="fa fa-file"></i>
        </button>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-8 b-toolbar__col text-right hidden-xs">
        <button class="btn btn-default"
                ng-click="$ctrl.createFolder($ctrl.parent)">
            <i class="fa fa-folder"></i> Создать папку
        </button>
        <button ng-click="$ctrl.uploadFile($ctrl.parent)"
           class="btn btn-default">
            <i class="fa fa-file"></i> Загрузить файл
        </button>
    </div>
</div>

<div class="row b-breadcrumbs" ng-if="$ctrl.breadcrumbs.length > 0">
    <a class="fa fa-home" ui-sref=".({parent: 'root', page: 1})"></a>
    <span ng-repeat="bc in $ctrl.breadcrumbs">
        <a ui-sref=".({parent: bc._id})" ng-bind="bc.title"></a> {{$last ? '' : '/'}}
    </span>
</div>

<div class="b-list">
    <div class="row b-list__item" ng-repeat="doc in $ctrl.medias.docs | orderBy: ['type']">
        <div class="col-sm-2 b-list__item__col hidden-xs">
            <preview-media
                uib-tooltip="{{doc.title}}"
                media="doc"
                item-class="'b-item b-curp'"
                icon-class="'fa-3x b-item b-curp'"
                container-class="'b-list__item__col__centered'"
                action="$ctrl.preview">
            </preview-media>
        </div>
        <div class="col-xs-2 b-list__item__col visible-xs">
            <preview-media
                    uib-tooltip="{{doc.title}}"
                    media="doc"
                    item-class="'b-item b-curp'"
                    icon-class="'fa-2x b-item b-curp'"
                    container-class="'b-list__item__col__centered'"
                    action="$ctrl.preview">
            </preview-media>
        </div>
        <div class="col-sm-4 col-xs-6 b-list__item__col">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div class="b-wrap-text">
                        Название:
                        <b>
                            <a ui-sref=".({parent: doc._id, page: 1, title: ''})"
                               ng-if="doc.type == 1"
                               ng-bind="doc.title | truncate: 25: '...'"></a>
                            <a class="b-curp"
                               ng-click="$ctrl.copyLink(doc)"
                               ng-if="doc.type != 1"
                               ng-bind="doc.title | truncate: 25: '...'"></a>
                        </b>
                    </div>
                    <div>Создан: <b ng-bind="doc.createdBy.nickname"></b></div>
                    <div>Дата создания: <b ng-bind="doc.created | date: 'yyyy.MM.dd H:mm:ss'"></b></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 b-list__item__col hidden-xs">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div ng-if="doc.type != 1">
                        Тип: <b ng-bind="doc.mimeType"></b>
                    </div>
                    <div ng-if="doc.type != 1 && doc.mimeType != 'youtube'">
                        Размер: <b>{{doc.size | fileSize: 2}}</b>
                    </div>
                    <div ng-if="doc.type != 1 && doc.mimeType == 'audio/mp3'">
                        Длительность: <b ng-bind="doc.duration | duration"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 b-list__item__col hidden-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item text-center">
                    <button class="btn btn-danger btn-sm"
                            uib-tooltip="Удалить"
                            ng-click="$ctrl.delete(doc)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 b-list__item__col visible-xs">
            <div class="b-list__item__col__rcentered">
                <div class="b-item">
                    <button class="btn btn-danger btn-xs"
                            uib-tooltip="Удалить"
                            ng-click="$ctrl.delete(doc)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<paginator url="$ctrl.url"
           page="$ctrl.medias.page"
           limit="$ctrl.medias.limit"
           pages="$ctrl.medias.pages"
           total="$ctrl.medias.total">
</paginator>