<div class="row b-paginator">
    <div class="col-sm-12">
        <ul class="b-paginator__wrapper">
            <li class="b-paginator__wrapper__limit">
                Элементов на страницу
                <span class="dropdown" uib-dropdown>
                    <span class="btn btn-link" uib-dropdown-toggle>
                        <b>{{$ctrl.limit}}</b> <span class="caret"></span>
                    </span>
                    <ul class="dropdown-menu">
                        <li class="text-center">
                            <span class="btn btn-link" ng-click="$ctrl.changeLimit(10)">10</span>
                        </li>
                        <li class="text-center">
                            <span class="btn btn-link" ng-click="$ctrl.changeLimit(20)">20</span>
                        </li>
                        <li class="text-center">
                            <span class="btn btn-link" ng-click="$ctrl.changeLimit(50)">50</span>
                        </li>
                        <li class="text-center">
                            <span class="btn btn-link" ng-click="$ctrl.changeLimit(100)">100</span>
                        </li>
                    </ul>
                </span>
            </li>
            <li class="b-paginator__wrapper__pager">
                <ul>
                    <li>
                        <button class="btn btn-default btn-sm" ng-disabled="$ctrl.page < 2" ng-click="$ctrl.prev()">
                            <i class="fa fa-arrow-circle-left"></i>
                        </button>
                    </li>
                    <li>
                        Станица {{ $ctrl.page }} из {{ $ctrl.pages }}
                    </li>
                    <li>
                        <button class="btn btn-default btn-sm" ng-disabled="$ctrl.pages <= $ctrl.page" ng-click="$ctrl.next()">
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>