<div class="b-editor">
    <div class="b-editor__loader" ng-show="$ctrl.busy">
        <div class="b-editor__loader__bg">
        </div>
        <div class="b-editor__loader__spinner">
            <i class="fa fa-circle-o-notch fa-4x fa-spin fa-fw"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <form name="form" ng-submit="$ctrl.save(form, $event)" novalidate>
                <div class="form-group" ng-class="{'has-error': form.nickname.$invalid && (form.nickname.$touched || form.$submitted)}">
                    <label for="nickname">Никнейм</label>
                    <input class="form-control" maxlength="200" type="text" name="nickname" id="nickname" ng-model="$ctrl.user.nickname" ng-required="true">
                    <ul class="help-block" ng-if="form.nickname.$invalid && (form.nickname.$touched || form.$submitted)">
                        <li>Обязательное поле.</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="last">Фамилия</label>
                    <input class="form-control" maxlength="100" type="text" name="last" id="last" ng-model="$ctrl.user.name.last">
                </div>
                <div class="form-group">
                    <label for="first">Имя</label>
                    <input class="form-control" maxlength="100" type="text" name="first" id="first" ng-model="$ctrl.user.name.first">
                </div>
                <div class="form-group">
                    <label for="middle">Отчество</label>
                    <input class="form-control" maxlength="100" type="text" name="middle" id="middle" ng-model="$ctrl.user.name.middle">
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input class="form-control" maxlength="100" type="text" name="phone" id="phone" ng-model="$ctrl.user.metadata.phone">
                </div>
                <div class="form-group">
                    <label>Роли</label>
                    <div>
                        <div class="btn-group">
                            <label class="btn"
                                   ng-class="{'btn-success': $ctrl.roles.moderator, 'btn-default': !$ctrl.roles.moderator }"
                                   ng-model="$ctrl.roles.moderator"
                                   uib-btn-checkbox>moderator</label>
                            <label class="btn"
                                   ng-class="{'btn-success': $ctrl.roles.admin, 'btn-default': !$ctrl.roles.admin }"
                                   ng-model="$ctrl.roles.admin"
                                   uib-btn-checkbox>admin</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="$ctrl.current.isAdmin && $ctrl.user._id != $ctrl.current._id">
                    <label>Статус</label>
                    <div>
                        <div class="btn-group">
                            <label class="btn"
                                   ng-class="{'btn-success': !$ctrl.user.isDeleted, 'btn-default': $ctrl.user.isDeleted }"
                                   ng-model="$ctrl.user.isDeleted" uib-btn-radio="false">
                                Активен
                            </label>
                            <label class="btn"
                                   ng-class="{'btn-danger': $ctrl.user.isDeleted, 'btn-default': !$ctrl.user.isDeleted }"
                                   ng-model="$ctrl.user.isDeleted" uib-btn-radio="true">
                                Заблокирован
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-success btn-lg" type="submit" value="Сохранить">
                </div>
            </form>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="b-editor__avatar text-center">
                    <label>Аватар</label>
                    <input type="file" style="display: none" class="form-control" id="avatar" name="avatar" file-change="$ctrl.avatarChange">
                    <div class="form-group">
                        <img ng-src="{{$ctrl.user.avatar | sceLink }}" ng-if="$ctrl.user.avatar" class="img-circle img-responsive">
                        <img src="/images/user.svg" class="img-circle img-responsive" ng-if="!$ctrl.user.avatar">
                    </div>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.uploadAvatar()">
                        <i class="fa fa-upload"></i>
                        Загрузить
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteAvatar()" ng-disabled="!$ctrl.user.avatar">
                        <i class="fa fa-remove"></i>
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>