<div class="row b-toolbar">
    <div class="col-sm-12 b-toolbar__col">
        <form name="toolbarForm" ng-submit="$ctrl.search.invoke()">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       name="title"
                       ng-model="$ctrl.search.value"
                       placeholder="Поиск по псевдониму">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-toolbar" uib-tooltip="Поиск" tooltip-placement="bottom">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="b-list">
    <div class="row b-list__item" ng-repeat="doc in $ctrl.users.docs">
        <div class="col-sm-2 col-xs-4 b-list__item__col">
            <div class="b-list__item__col__centered">
                <img class="b-item img-circle" style="height: 70px; width: 70px;" ng-if="doc.avatar" ng-src="{{doc.avatar | sceLink}}">
                <i class="fa fa-user b-item fa-3x" ng-if="!doc.avatar"></i>
            </div>
        </div>
        <div class="col-sm-4 col-xs-8 b-list__item__col">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div class="b-wrap-text">
                        Псевдоним:
                        <b>
                            <a ui-sref=".editor({id: doc._id})" ng-bind="doc.nickname | truncate: 23: '...'"></a>
                        </b>
                    </div>
                    <div>
                        Email:
                        <b uib-tooltip="{{doc.email}}">
                            <a class="b-curp" ng-click="$ctrl.copyToClipboard(doc.email)" ng-bind="doc.email | truncate: 23: '...'"></a>
                        </b>
                    </div>
                    <div>
                        Статус:
                        <b ng-class="{'text-danger': doc.isDeleted, 'text-success': !doc.isDeleted}">
                            {{doc.isDeleted ? 'Заблокирован' : 'Активен'}}
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 b-list__item__col hidden-xs">
            <div class="b-list__item__col__lcentered">
                <div class="b-item">
                    <div>
                        Роли:
                        <span ng-repeat="role in doc.roles">
                            <b ng-bind="role"></b> {{$last ? '' : ' '}}
                        </span>
                    </div>
                    <div>
                        Ф.И.О:
                        <a class="b-curp"
                           uib-tooltip="{{(doc.name.last || '') + ' ' + (doc.name.first || '') + ' ' + (doc.name.middle || '')}}"
                           ng-click="$ctrl.copyToClipboard((doc.name.last || '') + ' ' + (doc.name.first || '') + ' ' + (doc.name.middle || ''))">
                            <b ng-class="">{{(doc.name.last || '') + ' ' + (doc.name.first || '') + ' ' + (doc.name.middle || '') | truncate: 23: '...'}}</b>
                        </a>
                    </div>
                    <div>
                        Создан: <b ng-bind="doc.created | date: 'yyyy.MM.dd H:mm:ss'"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 b-list__item__col hidden-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item text-center">
                    <a class="btn btn-default btn-sm"
                       uib-tooltip="Редактировать"
                       ui-sref=".editor({id: doc._id})">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-default btn-sm"
                            uib-tooltip="Сбросить пароль"
                            ng-click="$ctrl.resetPassword(doc)">
                        <i class="fa fa-key"></i>
                    </button>
                    <a href="/account/profile/{{doc._id}}/impersonate" class="btn btn-default btn-sm" uib-tooltip="Войти">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 b-list__item__col visible-xs">
            <div class="b-list__item__col__centered">
                <div class="b-item">
                    <a class="btn btn-default btn-sm"
                       uib-tooltip="Редактировать"
                       ui-sref=".editor({id: doc._id})">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <button class="btn btn-default btn-sm"
                            uib-tooltip="Сбросить пароль"
                            ng-click="$ctrl.resetPassword(doc)">
                        <i class="fa fa-key"></i>
                    </button>
                    <a href="/account/profile/{{doc._id}}/impersonate" class="btn btn-default btn-sm" uib-tooltip="Войти">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<paginator url="$ctrl.url"
           page="$ctrl.users.page"
           limit="$ctrl.users.limit"
           pages="$ctrl.users.pages"
           total="$ctrl.users.total">
</paginator>