
<div class="modal-header">
    <h3 class="modal-title">Добавление медиа файлов</h3>
</div>
<div class="modal-body">
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Загрузка файлов">
            <br />
            <input ng-disabled="busy" type="file" nv-file-select="" uploader="uploader" multiple  />
            <h3>Очередь</h3>
            <p>Длинна очереди: {{ uploader.queue.length }}</p>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Имя</th>
                    <th ng-show="uploader.isHTML5">Размер</th>
                    <th ng-show="uploader.isHTML5">Прогресс</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        <div ng-if="['image/jpeg', 'image/gif', 'image/png', 'image/bmp'].indexOf(item.file.type) != -1"
                             ng-show="uploader.isHTML5"
                             ng-thumb="{ file: item._file, height: 100 }">
                        </div>
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success btn-xs b-ng-file-upload-button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess || busy">
                            <span class="glyphicon glyphicon-upload"></span> Загрузить
                        </button>
                        <button type="button" class="btn btn-warning btn-xs b-ng-file-upload-button" ng-click="item.cancel()" ng-disabled="!item.isUploading || busy">
                            <span class="glyphicon glyphicon-ban-circle"></span> Отмена
                        </button>
                        <button type="button" class="btn btn-danger btn-xs b-ng-file-upload-button" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Прогресс очереди:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length || busy">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить все
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading || busy">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить все
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length || busy">
                    <span class="glyphicon glyphicon-trash"></span> Удалить все
                </button>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Youtube">
            <br />
            <div class="form-group" ng-class="{ 'has-success has-feedback': youtube.valid }">
                <label class="control-label" for="youtubeLink">Ссылка на Youtube</label>
                <input type="text"
                       class="form-control"
                       id="youtubeLink"
                       aria-describedby="youtubeLinkMark"
                       ng-model="youtube.input"
                       ng-model-options="{ allowInvalid: true, debounce: 1000 }"
                       ng-disabled="uploader.isUploading || busy">
                <span ng-if="youtube.valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-if="youtube.valid" id="youtubeLinkMark" class="sr-only">(success)</span>
            </div>
            <div class="form-group">
                <youtube-preview v="youtube.videoId" width="'100%'" height="'auto'" autoplay="0"></youtube-preview>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-success" ng-disabled="uploader.isUploading || busy || !youtube.valid" value="Добавить" ng-click="youtube.add()">
            </div>
        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel($event)" ng-disabled="uploader.isUploading || busy">Закрыть</button>
</div>