<div class="modal-header">
    <h3 class="modal-title">{{model.edit ? 'Редактировать папку' : 'Создание папки'}}</h3>
</div>
<form name="form" id="form" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && (form.title.$touched || form.$submitted)}">
            <label>Название</label>
            <input class="form-control" type="text" name="title" ng-required="true" minlength="2" maxlength="100" ng-model="model.title" ng-disabled="busy">
            <ul class="help-block" ng-if="form.title.$invalid && (form.title.$touched || form.$submitted)">
                <li>Минимальная длинна 2 символа</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="busy" ng-click="ok(form, $event)">{{model.edit ? 'Обновить' : 'Создать'}}</button>
        <button class="btn btn-warning" ng-disabled="busy" ng-click="cancel($event)">Отмена</button>
    </div>
</form>