<div class="modal-header">
    <h3 class="modal-title">{{::model.title}}</h3>
</div>
<div class="modal-body b-preview-modal">
    <video ng-if="::model.mimeType.indexOf('video/') != -1" ng-src="{{::model.fileName | sceLink}}" autoplay controls>
    </video>
    <audio class="b-audio" ng-if="::model.mimeType.indexOf('audio/') != -1" ng-src="{{::model.fileName | sceLink}}" autoplay controls></audio>
    <img ng-if="::model.mimeType.indexOf('image/') != -1" ng-src="{{::model.fileName | sceLink}}" title="{{::model.title}}">
    <youtube-preview ng-if="::model.mimeType == 'youtube'" v="::model.fileName" width="'100%'" height="'350px'" autoplay="1"></youtube-preview>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel($event)">Закрыть</button>
</div>