<div class="b-audio-player" ng-class="{'b-audio-player-mobile': $ctrl.state.device, 'b-audio-player-default': !$ctrl.state.device}" ng-if="$ctrl.state.loaded">
    <div id="{{$ctrl.state.containerId}}" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <div id="{{$ctrl.state.playerId}}" class="jp-jplayer"></div>
            <div class="jp-gui">
                <div class="jp-interface">
                    <div class="jp-play b-curp" role="button" tabindex="0"></div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar">
                                <div class="jp-play-bar__scrubber jp-play-bar__scrubber-type1" ng-if="!$ctrl.state.device">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                    <div class="jp-duration" role="timer" aria-label="duration" ng-if="!$ctrl.state.device">&nbsp;</div>


                    <div class="jp-volume-controls" ng-if="!$ctrl.state.device">
                        <div class="jp-volume-controls__container">
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value">
                                    <div class="jp-volume-bar-value__scrubber jp-volume-bar-value__scrubber-type2" ng-if="!$ctrl.state.device">
                                    </div>
                                </div>
                            </div>
                            <i class="fa fa-volume-down jp-mute-custom"></i>
                            <div class="jp-volume-label">
                                <span class="jp-volume-label__default">0</span>%
                            </div>
                            <i class="fa fa-volume-up jp-volume-max"></i>
                        </div>
                    </div>
                    <div class="jp-details">
                        <div class="jp-title" aria-label="title">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="jp-playlist">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>