.b-audio-player {
  margin-bottom: 15px;
  @import "../../sass/variables";
  $player-color: #009be3;
  @mixin scrubber {
    display: block;
    position: absolute;
    background: red;
    z-index: 1;

    &-type1 {
      top: -2px;
      width: 4px;
      right: -3px;
      height: 12px;
    }

    &-type2 {
      top: -2px;
      right: -4px;
      width: 8px;
      height: 8px;
      border-radius: 5px;
    }
  }
  @mixin play-button($height) {
    background-color: inherit;
    position: absolute;
    height: $height;
    width: 50px;
    left: 0;
    top: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:focus {
      outline: none;
      border: 0;
    }
    &:before {
      font-family: FontAwesome;
      content: '\f04b';
      font-size: 30px;
      line-height: $height;
    }
  }

  &-default {
    $interfaceHeight: 70px;
    $progressBarHeight: 8px;
    $progressBarTop: (($interfaceHeight / 2) - ($progressBarHeight/2));
    $titleTop: ($interfaceHeight / 4) - 11;
    $timersTop: (($interfaceHeight / 4) * 3) - 9;
    border: 1px solid $player-color;
    .jp-state-playing{
      .jp-interface {
        .jp-play {
          &:before {
            content: '\f04c';
          }
        }
      }
    }
    .jp-interface {
      height: $interfaceHeight;
      position: relative;
      border-bottom: 1px solid $player-color;

      .jp-details {
        display: block !important;
        .jp-title {
          overflow: hidden;
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: $titleTop;
          position: absolute;
          text-align: center;
          left: 50px;
          right: 120px;
        }
      }

      .jp-volume-controls {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: $interfaceHeight;
        line-height: $interfaceHeight;
        font-size: 14px;
        &__container {
          position: absolute;
          width: 80px;
          top: ($interfaceHeight / 3) + 5;
          margin-right: -40px;
          right: 50%;

          .jp-volume-label {
            text-align: center;
            width: 50%;
            line-height: 15px;
            font-size: 10px;
            margin: 8px auto;
            &__default {
              display: inline;
            }
            &__muted {
              display: none;
            }
          }

          .jp-volume-bar {
            position: absolute;
            width: 100%;
            height: 4px;
            top: 0;
            background-color: $gray-lighter;
            margin-right: -40px;
            right: 50%;
            cursor: pointer;
            &-value {
              background-color: $gray-light;
              height: 4px;
              position: relative;
              &__scrubber {
                @include scrubber();
              }
            }
          }

          .jp-mute-custom {
            color: $gray-light;
            position: absolute;
            top: 8px;
            left: 0;
            font-size: 14px;
            cursor: pointer;
          }
          .jp-volume-max {
            color: $gray-light;
            position: absolute;
            top: 8px;
            right: 0;
            font-size: 13px;
            cursor: pointer;
          }
        }
      }

      .jp-current-time {
        position: absolute;
        left: 50px;
        top: $timersTop;
        font-size: 11px;
      }

      .jp-duration {
        position: absolute;
        right: 120px;
        top: $timersTop;
        font-size: 11px;
      }

      .jp-progress {
        position: absolute;
        top: $progressBarTop;
        height: $progressBarHeight;
        left: 50px;
        right: 120px;
        cursor: pointer;
        .jp-seek-bar {
          height: $progressBarHeight;
          background-color: $gray-lighter;
          .jp-play-bar {
            height: $progressBarHeight;
            background-color: $gray-light;
            position: relative;
            overflow: inherit !important;
            &__scrubber {
              @include scrubber();
            }
          }
        }
      }

      .jp-play {
        @include play-button($interfaceHeight);
      }
    }
  }
  &-mobile {
    $interfaceHeight: 50px;
    $titleTop: $interfaceHeight / 2;
    $controls-color: $player-color;
    $controls-color-alt: #ffffff;
    border: 1px solid $controls-color;
    .jp-state-playing{
      .jp-interface {
        .jp-play {
          &:before {
            content: '\f04c';
          }
        }
      }
    }

    .jp-interface {
      height: $interfaceHeight;
      position: relative;
      width: 100%;
      display: block;
      border-bottom: 1px solid $controls-color;

      .jp-play {
        @include play-button($interfaceHeight);
        background-color: $controls-color;
        color: $controls-color-alt;
      }

      .jp-details {
        display: block !important;
        .jp-title {
          overflow: hidden;
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          text-align: center;
          left: 60px;
          right: 70px;
          line-height: $interfaceHeight;
          color: $controls-color;
          font-weight: 700;
        }
      }

      .jp-current-time {
        right: 7px;
        position: absolute;
        font-weight: 700;
        color: $controls-color;
        line-height: $interfaceHeight;
      }

      .jp-progress {
        right: 0;
        left: 50px;
        height: 50px;
        display: block;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        opacity: 0.5;
        .jp-seek-bar {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background-color: lighten($controls-color, 35.0%);
          overflow: hidden;
          .jp-play-bar {
            background-color: lighten($controls-color, 15.0%);
            display: block;
            overflow: hidden;
            height: 50px;
          }
        }
      }
    }
  }

  .jp-playlist {
    height: 215px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
        border-bottom: 1px solid #eee;
        height: 36px;
        line-height: 36px;
        & > div {
          height: 36px;
        }
        a {
          text-decoration: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 100%;
          display: block;
          padding: 0 10px;
          line-height: 36px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:focus {
            outline: none;
            border: 0;
          }
        }
        &:hover {
          background-color: $gray-lighter;

        }
        &.jp-playlist-current {
          background-color: $gray-lighter;
        }
      }
    }
  }
}