.b-curp {
  cursor: pointer;
}

.modal {
  z-index: 11003 !important;
}

&__wrapper {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 0;
  &__sidebar {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: #f4f4f4;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 60px;
    z-index: 11001;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__content {
    padding: 0 0 0 60px;
    position: relative;
    width: 100%;
    .b-toggle-nav-btn {
      z-index: 11002;
    }
  }
}
&__wrapper.b-toggled {
  padding-left: 220px;
  .b-dashboard__wrapper__sidebar {
    width: 220px;
  }
  .b-dashboard__wrapper__content {
    margin-right: -220px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  &__wrapper {
    .b-dashboard__wrapper__sidebar {
      .b-navbar__header {
        display: none;
      }
    }
  }
  &__wrapper.b-toggled {
    padding-left: 0;
    .b-dashboard__wrapper__sidebar {
      width: 60px;
      .b-navbar__header {
        display: none;
      }
      li {
        text-align: center;
      }
      span {
        display: none;
      }
    }
    .b-dashboard__wrapper__content {
      padding: 0 0 0 60px;
      margin-right: 0;
    }
  }
}




















