$b-editor-bg-color: #FAFAFA;
$b-editor-text-color: #212121;
$b-editor-err-color: #a94442;
.b-editor {
  margin: 15px 0;
  padding: 15px;
  background-color: $b-editor-bg-color;
  color: $b-editor-text-color;
  border-radius: 5px;
  position: relative;
  &__avatar {
    img {
      max-width: 100px;
      max-height: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__loader {
    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1000;
    }
    &__spinner {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      color: white;
      opacity: 0.8;
    }
  }

  .b-required {
    color: $b-editor-err-color;
  }
  .form-group.has-error {
    .b-picker {
      .btn {
        border-color: $b-editor-err-color;
        color: $b-editor-err-color;
      }
    }
    .b-media-picker {
      .b-preview {
        .btn {
          border-color: $b-editor-err-color;
          color: $b-editor-err-color;
        }
      }
    }
    .btn-group {
      .btn {
        border-color: $b-editor-err-color;
        color: $b-editor-err-color;
      }
    }
  }
}