$b-list-bg-color: #FAFAFA;
$b-list-text-color: #212121;
$b-list-hover-color: #F5F5F5;

.b-list {
  margin: 15px 0;
  &__item {
    margin: 0 0 15px 0;
    background-color: $b-list-bg-color;
    color: $b-list-text-color;
    &:hover {
      //box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
      background-color: $b-list-hover-color;
    }
    &__col {
      .btn-sm {
        margin: 2px;
      }
      img {
        max-width: 80%;
        max-height: 80%;
      }
      video {
        max-width: 80%;
        max-height: 80%;
      }
      &__centered {
        position: relative;
        min-height: 100px;
        .b-item {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }
      }

      &__lcentered {
        position: relative;
        min-height: 100px;
        .b-item {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
       }
      }

      &__rcentered {
        position: relative;
        min-height: 100px;
        .b-item {
          margin: 0;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
        }
      }

      padding: 3px;
    }
  }
}
.b-list.b-list-small {
  .b-list__item__col__centered {
    min-height: 50px;
  }
  .b-list__item__col__lcentered {
    min-height: 50px;
  }
  .b-list__item__col__rcentered {
    min-height: 50px;
  }
}
.b-list.b-list-middle {
  .b-list__item__col__centered {
    min-height: 80px;
  }
  .b-list__item__col__lcentered {
    min-height: 80px;
  }
  .b-list__item__col__rcentered {
    min-height: 80px;
  }
}
.b-list.b-list-stacked {
  margin: 0;
  .b-list__item {
    margin: 0;
  }
}
.b-list.b-list-form {
  margin: 0;
  .b-list__item {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .b-list {
    &__item {

      .b-wrap-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 175px;
      }

      &__col {
        &__centered {
          .b-item {
            padding: 15px;
          }
        }
        &__lcentered {
          .b-item {
            padding: 15px;
          }
        }
        &__rcentered {
          .b-item {
            padding: 15px;
          }
        }
      }
    }
  }
}