.b-paginator {
  margin: 15px;
  padding: 0;
  .col-sm-12 {
    padding: 0;
  }
  &__wrapper {
    list-style-type: none;
    float: right;
    margin: 10px 0;
    padding: 0;
    > li {
      display: inline;
    }
    &__limit {
      margin: 0;
      padding: 0;
      .dropdown {
        .dropdown-menu {
          min-width: 50px;
          top: auto;
          bottom: 100%;
          margin-bottom: 2px;
        }
      }
    }
    &__pager {
      ul {
        list-style-type: none;
        float: right;
        li {
          display: inline;
        }
      }
    }
  }
}