.b-picker {
  &__select {
    width: 100%;
  }
  &__link {
    margin: 0;
    padding: 0;
    color: #23527c;
    &:hover {
      text-decoration: underline;
    }
  }
  &__media {
    video {
      max-width: 80px;
      max-height: 80px;
    }
    img {
      max-width: 80px;
      max-height: 80px;
    }
  }
  &__centered {
    position: relative;
    height: 100px;
    .b-item {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  &__lcentered {
    position: relative;
    height: 100px;
    .b-item {
      margin: 0;
      margin-left: 15px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
    }
  }
}

.b-picker__modal {
  .modal-body {
    .b-toolbar {
      margin-bottom: 5px;
    }
    .b-add-all-button {
      margin-bottom: 5px;
    }
  }
}