html,body {
  height: 100%;
}

body{
  position: relative;
  overflow-x: hidden;
}

.b-dashboard {
  @import "./common";
  @import "./breadcrumbs";
  @import "./toolbar";
  @import "./list";
  @import "./editor";
  @import "./picker";
  @import "./paginator";
  @import "./angular-ui-notification";
  @import "./preview-modal";
  @import "./angular-file-upload";
}