.b-toolbar {
  margin: 15px 0;
  padding: 0;

  &__col {
    > .btn {
      margin-bottom: 3px;
    }
    padding: 0;
    .input-group-btn {
      button {
        height: 34px;
      }
    }
  }
}

.b-toolbar.b-toolbar-no-margin {
  margin: 0;
}