<div class="b-comment">
    <label for="commentText">Комментарии ({{$ctrl.comments.length}})</label>
    <div class="b-callout b-callout-info" ng-if="!$ctrl.user">
        Только зарегистрированные пользователи могут оставлять комментарии. <span class="b-curp b-curp-underline" ng-click="$ctrl.login()">Войдите</span>, пожалуйста.
    </div>
    <form name="comment" ng-if="$ctrl.user" ng-submit="$ctrl.submit(comment)" novalidate>
        <div class="form-group" ng-class="{'has-error': comment.body.$invalid && (comment.body.$touched || comment.$submitted)}">
            <textarea
                    id="commentText"
                    class="form-control"
                    rows="5"
                    ng-model="$ctrl.body"
                    minlength="2"
                    maxlength="1000"
                    name="body"
                    ng-required="true"></textarea>
            <span class="help-block" ng-if="comment.body.$invalid && (comment.body.$touched || comment.$submitted)">
                Минимальная длинна 2 символа.
            </span>
        </div>
        <div class="form-group">
            <button ng-disabled="$ctrl.busy" type="submit" class="btn btn-default">Отправить</button>
        </div>
    </form>
    <div class="b-comment__item"
         ng-if="$ctrl.comments"
         ng-repeat="comment in $ctrl.comments"
         ng-class="::comment.class">
        <div class="b-comment__item__header">
            <img class="img-circle b-avatar" ng-src="{{::comment.createdBy.avatar}}" ng-if="::comment.createdBy.avatar">
            <img src="/images/user.svg" class="img-circle b-avatar" ng-if="::!comment.createdBy.avatar">
            <a href="/account/profile/{{::comment.createdBy._id}}" class="b-nickname">{{ ::comment.createdBy.nickname }}</a>
            <span class="b-date">{{ ::comment.created | fromNow }}</span>
            <span class="b-rating">
                <rating user="$ctrl.user" object="comment._id" rating="comment.rating" for="'comment'"></rating>
            </span>
            <span class="pull-right">
                <i class="fa fa-pencil b-curp"
                   uib-tooltip="Редактировать"
                   ng-click="$ctrl.edit(comment)"
                   ng-if="$ctrl.user && ($ctrl.user.isAdmin || $ctrl.user.isModerator || $ctrl.user._id == comment.createdBy._id)"></i>
                <i class="fa fa-trash text-danger b-curp"
                   ng-click="$ctrl.delete(comment)"
                   uib-tooltip="Удалить"
                   ng-if="$ctrl.user && ($ctrl.user.isAdmin || $ctrl.user.isModerator || $ctrl.user._id == comment.createdBy._id)"></i>
            </span>
        </div>
        <div class="b-comment__item__body">
            <span ng-bind="comment.body" ng-if="!comment.editMode"></span>
            <div class="text-danger" ng-bind="comment.systemBody" ng-if="!comment.editMode && comment.systemBody"></div>
            <form name="commentEdit" ng-if="comment.editMode" ng-submit="$ctrl.update(commentEdit, comment)" novalidate>
                <div class="form-group" ng-class="{'has-error': commentEdit.body.$invalid && (commentEdit.body.$touched || commentEdit.$submitted)}">
                    <label>Комментарий</label>
                    <textarea
                        class="form-control"
                        rows="5"
                        ng-model="comment.editBody"
                        minlength="2"
                        maxlength="1000"
                        name="body"
                        ng-required="true">
                    </textarea>
                    <span class="help-block" ng-if="commentEdit.body.$invalid && (commentEdit.body.$touched || commentEdit.$submitted)">
                        Минимальная длинна 2 символа.
                    </span>
                </div>
                <div class="form-group" ng-if="$ctrl.user && ($ctrl.user.isAdmin || $ctrl.user.isModerator)">
                    <label>Сообщение администратора/модератора (выделенно красным)</label>
                    <textarea
                            class="form-control"
                            rows="5"
                            ng-model="comment.editSystemBody"
                            maxlength="1000"
                            name="systemBody">
                    </textarea>
                </div>
                <div class="form-group">
                    <button ng-disabled="$ctrl.busy" type="submit" class="btn btn-default">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>