<div class="b-search-bar">
    <form name="searchBar" ng-submit="$ctrl.search($event)">
        <div class="input-group">
            <input placeholder="Поиск по названию" type="text" maxlength="130" class="form-control" ng-model="$ctrl.query" name="query" aria-label="Поиск">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="b-search-bar__tags" ng-if="$ctrl.tags && $ctrl.tags.length > 0">
        <span class="b-search-bar__tags__item" ng-repeat="tag in $ctrl.tags">
            <i class="glyphicon glyphicon-remove text-danger b-curp" uib-tooltip="Удалить фильтр" ng-click="$ctrl.removeTag()"></i> {{tag}}
        </span>
    </div>
</div>