@import "../../sass/variables";

@include not-xs() {
  .b-search-bar {
    margin-bottom: 20px;
    .btn {
      height: 34px;
    }
    input {
      height: 34px;
    }
    &__tags {
      margin: 10px 0;
    }
  }
}

@include xs() {
  .b-search-bar {
    display: none;
  }
}