<i class="fa fa-bar-chart-o" title="Рейтинг"></i>

<i class="fa fa-thumbs-o-down b-curp"
   ng-click="$ctrl.vote(false)">
</i>

<span   ng-class="{
            'text-danger': $ctrl.displayRating < 0,
            'text-success': $ctrl.displayRating > 0
        }"
        ng-bind="$ctrl.displayRating > 0 ? '+' + $ctrl.displayRating : $ctrl.displayRating">
</span>

<i class="fa fa-thumbs-o-up b-curp"
   ng-click="$ctrl.vote(true)">
</i>