<div class="b-profile-editor">
    <div class="b-loader" ng-show="$ctrl.busy">
        <div class="b-loader__bg">
        </div>
        <div class="b-loader__spinner">
            <i class="fa fa-cog fa-4x fa-spin fa-fw"></i>
        </div>
    </div>
    <uib-tabset type="pills">
        <uib-tab heading="Информация">
            <div class="panel panel-default b-profile-editor__panel">
                <div class="panel-body">
                    <legend>Ваши данные</legend>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <form name="infoForm" ng-submit="$ctrl.info.updateInfo(infoForm)" novalidate>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control"
                                           id="email"
                                           type="email"
                                           name="email"
                                           ng-model="$ctrl.info.model.email"
                                           readonly>
                                </div>
                                <div class="form-group" ng-class="{'has-error': infoForm.nickname.$invalid && (infoForm.nickname.$touched || form.$submitted)}">
                                    <label for="nickname">Никнейм <sup class="text-danger">*</sup></label>
                                    <input type="text"
                                           class="form-control"
                                           id="nickname"
                                           name="nickname"
                                           ng-model="$ctrl.info.model.nickname"
                                           ng-required="true"
                                           maxlength="30"
                                           ng-minlength="2"
                                           ng-maxlength="30">
                                    <ul class="help-block" ng-if="infoForm.nickname.$invalid && (infoForm.nickname.$touched || form.$submitted)">
                                        <li>Минимальная длинна 2 символа.</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Фамилия</label>
                                    <input type="text"
                                           class="form-control"
                                           id="lastName"
                                           name="lastName"
                                           ng-model="$ctrl.info.model.name.last"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="firstName">Имя</label>
                                    <input type="text"
                                           class="form-control"
                                           id="firstName"
                                           name="firstName"
                                           ng-model="$ctrl.info.model.name.first"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="middleName">Отчество</label>
                                    <input type="text"
                                           class="form-control"
                                           id="middleName"
                                           name="middleName"
                                           ng-model="$ctrl.info.model.name.middle"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Телефон</label>
                                    <input type="text"
                                           class="form-control"
                                           id="phone"
                                           name="phone"
                                           ng-model="$ctrl.info.model.metadata.phone"
                                           maxlength="50">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg b-save-button">
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 col-xs-12 b-profile-editor__panel__avatar">
                            <div class="form-group text-center">
                                <label>Аватар</label>
                                <div class="form-group b-avatar">
                                    <img src="/images/user.svg" class="img-responsive img-circle b-avatar" ng-if="!$ctrl.info.model.avatar">
                                    <img ng-src="{{$ctrl.info.model.avatar}}" class="img-responsive img-circle b-avatar" ng-if="$ctrl.info.model.avatar">
                                </div>
                                <div class="b-controls">
                                    <input type="file" id="avatar" accept="image/jpeg, image/png" file-change="$ctrl.info.avatarChange">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.info.uploadAvatar()">
                                        <i class="fa fa-upload"></i>
                                        Загрузить
                                    </button>

                                    <button class="btn btn-danger btn-sm"
                                            type="button"
                                            ng-click="$ctrl.info.deleteAvatar()"
                                            ng-disabled="!$ctrl.info.model.avatar">
                                        <i class="fa fa-remove fa-inverse"></i>
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Сменить пароль">
            <div class="panel panel-default b-profile-editor__panel">
                <div class="panel-body">
                    <legend>Смена пароля</legend>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <form name="changePasswordForm" ng-submit="$ctrl.password.changePassword(changePasswordForm)" novalidate>
                                <div class="form-group" ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && (changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted)}">
                                    <label for="oldPassword">Текущий пароль</label>
                                    <input class="form-control"
                                           id="oldPassword"
                                           type="password"
                                           name="oldPassword"
                                           ng-required="true"
                                           maxlength="50"
                                           ng-model="$ctrl.password.model.oldPassword">
                                    <span class="help-block" ng-if="changePasswordForm.oldPassword.$invalid && (changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted)">
                                        <ul>
                                            <li>Обязательное поле.</li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="form-group" ng-class="{'has-error': changePasswordForm.password.$invalid && (changePasswordForm.password.$touched || changePasswordForm.$submitted)}">
                                    <label for="password">Новый пароль</label>
                                    <input class="form-control"
                                           id="password"
                                           type="password"
                                           name="password"
                                           maxlength="50"
                                           ng-minlength="6"
                                           ng-required="true"
                                           ng-model="$ctrl.password.model.password">
                                    <span class="help-block" ng-if="changePasswordForm.password.$invalid && (changePasswordForm.password.$touched || changePasswordForm.$submitted)">
                                        <ul>
                                            <li>Минимальная длинна 6 символов.</li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="form-group" ng-class="{'has-error': changePasswordForm.confirmPassword.$invalid && (changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted)}">
                                    <label for="confirmPassword">Повторите пароль</label>
                                    <input class="form-control"
                                           id="confirmPassword"
                                           type="password"
                                           name="confirmPassword"
                                           ng-minlength="6"
                                           ng-required="true"
                                           ng-model="$ctrl.password.model.confirmPassword">
                                    <span class="help-block" ng-if="changePasswordForm.confirmPassword.$invalid && (changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted)">
                                        <ul>
                                            <li ng-if="changePasswordForm.confirmPassword.$error.minlength || changePasswordForm.confirmPassword.$error.required">Минимальная длинна 6 символов.</li>
                                            <li ng-if="changePasswordForm.confirmPassword.$error.notEqual">Пароли не совпадают.</li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg b-save-button">
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>