.ui-notification {
  position: fixed;
  z-index: 11004 !important;
  width: 300px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  color: #fff;
  border-radius: 0;
  background: #337ab7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

  &.clickable {
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }

  &.killed {
    -webkit-transition: opacity ease 1s;
    -o-transition: opacity ease 1s;
    transition: opacity ease 1s;
    opacity: 0;
  }

  & > h3 {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 10px 10px 0 10px;
    padding: 0 0 5px 0;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }

  & > .message {
    margin: 10px 10px 10px 10px;
  }

  &.warning {
    color: #fff;
    background: #f0ad4e;
  }

  &.error {
    color: #fff;
    background: #d9534f;
  }

  &.success {
    color: #fff;
    background: #5cb85c;
  }

  &.info {
    color: #fff;
    background: #5bc0de;
  }
}
