.b-article {
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #f5f5f5;
  font-size: 16px;
  .b-no-margin-right {
    margin-right: 0;
  }
  &:hover {
    background-color: #fafbfd;
  }

  &__image {
    max-width: 150px;
    max-height: 200px;
    float: left;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  &__body {
    .embed-responsive {
      margin-bottom: 5px;
    }
    overflow: auto;
    &__text {
      padding: 0 0 5px 0;
      text-align: justify;
      min-height: 215px;
      img {
        max-width: 100%;
      }
    }
    .b-article__image.visible-xs {
      max-width: 100%;
      float: left;
      margin: 0 15px 5px 0;
      max-height: none;
    }
    .b-article__image.b-article__image-detail {
      float: left;
      max-width: 100%;
      max-height: none;
      margin: 0 15px 5px 0;
    }
  }
  &__header {
    h3 {
      margin: 0;
    }
    h4 {
      margin: 10px 0 10px 0;
      font-weight: normal;
      font-size: 16px;
    }
  }
  &__footer {
    margin: 0;
    border-top: solid 1px #f5f5f5;
    padding-top: 15px;
  }
  &__block {
    margin-right: 15px;
    line-height: 25px;
    a, i, span {
      margin-right: 5px;
    }
  }
  &__block.b-no-margin {
    margin-right: 0;
    a {
      margin-right: 0;
    }
  }
  &__block.b-comments {
    margin-left: 5px;
  }
  &__block.b-pull-right {
    float: right;
  }
}
.b-article.b-article-detail {
  .b-article__footer {
    background-color: #f5f5f5;
    padding: 0 15px 10px 15px;
    border-radius: 0;
    margin: 0 -15px -15px -15px;
    .b-article__block {
      display: block;
      margin: 0;
      border: none;
      padding-top: 10px;
    }
  }
  &:hover {
    background-color: transparent;
  }
}