.b-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  &-info {
    border-left-color: #1b809e;
  }
  &-warning {
    border-left-color: #ffe070;
  }
}