.b-comment {
  form {
    margin: 20px 0;
  }
  &__item {
    &__header {
      margin-top: 15px;
      font-size: 12px;
      .b-rating {
        margin-left: 20px;
      }
      .b-nickname {
        font-weight: bold;
        margin-right: 10px;
      }
      .b-date {
        font-size: 11px;
      }
      .b-avatar {
        width: 20px;
        height: 20px;
      }
    }
    &__body {
      margin: 10px 0 !important;
      font-size: 13px;
    }
  }
}