.b-component-loader {
  margin-left: auto;
  margin-right: auto;
  display: table;
  color: black;
  &__content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0.2;
  }
  &-lg {
    height: 300px;
  }
  &-sm {
    height: 200px;
  }
}