.b-footer {
  background-color: #f8f8f8;
  border-top: solid 1px #e7e7e7;
  padding: 30px 30px;
  h4 {
    margin-top: 0;
  }
  &__link {
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 5px;
  }
}