.b-loader {
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
  }
  &__spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    opacity: 0.8;
  }
}