&__navbar {

  @import "../sass/variables";

  .navbar-header {
    width: 70px;
  }
  &__search {
    display: none;
  }

  .navbar-right {
    margin-right: 0;
  }

  @include xs() { // only xs
    .navbar-brand {
      width: 70px;
    }
    &__search {
      display: block;
      position: absolute;
      left: 70px;
      right: 75px;
      height: 100%;
      min-height: 50px;
      form {
        transform: translateY(25%);
        .btn {
          height: 34px;
        }
      }
    }
  }

  &__toggle {
    width: 75px;
    float: right;
    position: absolute;
    right: 15px;
  }

  .navbar-brand {
    white-space: nowrap;
    img {
      width: 40px;
      height: 40px;
      display: inline-block;
      transform: translate(0, -25%);
    }
  }

  .b-options-button {
    min-width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    .b-item {
      height: 50px;
    }
    &__avatar {
      height: 30px;
      width: 30px;
    }
  }

  &__centered {
    position: relative;
    .b-item {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  &__lcentered {
    position: relative;
    .b-item {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
    }
  }
  &__rcentered {
    position: relative;
    .b-item {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translate(0, -50%);
    }
  }
}