.b-profile-editor {
  position: relative;
    &__panel {
      margin-top: 10px;
      .b-save-button {
        margin-top: 15px;
      }
      &__avatar {
        .b-avatar {
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            height: 100px;
        }
        .b-controls {
          margin-top: 10px;
        }
        input[type='file'] {
          display: none;
        }
      }
    }
}