@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  //background-color: coral;
  //background: linear-gradient(45deg, #FF8E8E, #F5A94C, #E0C15B);
}

.b-no-content {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.b-error-container {
  height: 100%;
  display: table;
  width: 100%;
  &__cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.b-website {
  &>header {
    flex: none;
  }
  &>footer {
    flex: none;
  }
  &>main {
    flex: 1;
  }
  @import "./navbar";
  @import "./category";
  @import "./article";
  @import "./footer";
  @import "./angular-ui-notification";
  @import "./comment";
  @import "./curp";
  @import "./callout";
  @import "./component-loader";
  @import "./profile-editor";
  @import "./loader";
  @import "./social-buttons";
}