@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@mixin xs() {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin not-xs() {
  @media (min-width: $screen-xs-max) {
    @content;
  }
}