<form name="loginForm" id="loginForm" ng-submit="$ctrl.submit(loginForm)" novalidate>
    <div class="form-group" ng-class="{ 'has-error': loginForm.email.$invalid && (loginForm.email.$touched || regForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="email" ng-model="$ctrl.data.email" name="email" ng-required="true" class="form-control" placeholder="Email" maxlength="50">
    </div>
    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && (loginForm.password.$touched || loginForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="password" ng-model="$ctrl.data.password" name="password" ng-required="true" class="form-control" placeholder="Пароль" maxlength="50">
    </div>
    <div class="form-group text-center">
        <button ng-disabled="$ctrl.busy" class="btn btn-default btn-lg" type="submit">Войти</button>
        <img src="/images/social-network/vk.svg" class="b-social-button b-social-button-vk b-curp img-circle" ng-click="$ctrl.loginVK()">
    </div>
</form>