extends ../layouts/_web

block append content
    .row
        .col-xs-12(class=categories && categories.length > 1 ? 'col-sm-9' : 'col-sm-12')
            - var detailMode = true
            include ./list-item

            if !book.mediasUnpublished
                audio-player(book="'" + book._id + "'")
                    .b-component-loader.b-component-loader-sm
                        .b-component-loader__content
                            i.fa.fa-spin.fa-cog.fa-2x

            comments(for="'book'", object="'" + book._id + "'", user=user)

            #comments
        if categories && categories.length > 1
            .col-sm-3.col-xs-12.b-category.b-category-default
                each cat in categories
                    - var active = cat.active ? ' active' : ''
                    - var margin = !cat.description ? ' b-category__no-description' : ''
                    a(
                        href='/audiobooks/' + cat.url
                        class='list-group-item' + active + margin
                    )
                        h4.list-group-item-heading
                        | #{cat.title}
                        span.badge=cat.counters.audiobooks.published
                        if cat.description
                            p.list-group-item-text=cat.description