extends ../layouts/_web

block append content
    .row
        .col-xs-12(class=categories && categories.length > 1 ? 'col-sm-9' : 'col-sm-12')
            search-bar(
                query='"' + searchBar.query + '"'
                tags=searchBar.tags
            )
            if books && books.docs && books.docs.length > 0
                each book in books.docs
                    include ./list-item
            else
                .b-no-content Ничего не найдено
        if categories && categories.length > 1
            .col-sm-3.col-xs-12
                .list-group.b-category
                    each cat in categories
                        - var active = cat.active ? ' active' : ''
                        - var margin = !cat.description ? ' b-category__no-margin' : ''
                        a(
                            href='/audiobooks/' + cat.url
                            class='list-group-item' + active + margin
                        )
                            h4.list-group-item-heading
                            | #{cat.title}
                            span.badge=cat.counters.audiobooks.published
                            if cat.description
                                p.list-group-item-text(class='text-info small')=cat.description
    .row
        .col-sm-9.col-xs-12.text-center
            include ../partials/_paginator
