article.b-article
    .b-article__header
        h3
            a(href='/audiobooks/' + book.parent.url + '/' + book.url)=book.author.fullName + ' - ' + book.title
        h4
            span.b-article__block
                a(href='/audiobooks/' + book.parent.url)=book.parent.title
            span.b-article__block.text-muted.text-nowrap
                i(class='fa fa-clock-o', title='Дата публикации')
                =moment(book.created).fromNow()
            span.b-article__block.text-muted.text-nowrap
                rating(user=(user ? "'" + user._id + "'" : null), object="'" + book._id + "'", rating=book.rating, for="'book'")/
    .b-article__body
        if book.cover
            img(
                src=book.cover.fileName
                class='b-article__image'
                onclick='location.href="/audiobooks/' + book.parent.url + '/' + book.url + '"'
            )
        .b-article__body__text
            !=md.render(_.truncate(book.description, {length: 660}))
        .b-article__footer.text-muted
            span.b-article__block
                i(class='fa fa-user', title='Автор')
                | Автор:
                =' '
                a(href='?author=' + book.author._id)=book.author.fullName
            span.b-article__block.b-pull-right.b-no-margin.b-comments
                a(href='/audiobooks/' + book.parent.url + '/' + book.url + '#comments')
                    i.fa.fa-comment-o
                    =book.comments
            if book.tags && book.tags.length > 0
                span.b-article__block
                    i.fa.fa-hashtag
                    =' '
                    each tag in book.tags
                        a(href='?tag=' + tag, class='b-no-margin-right')=tag
                        !=' '
