<form ng-if="!$ctrl.sent" name="restoreForm" id="restoreForm" ng-submit="$ctrl.submit(restoreForm)" novalidate>
    <div class="form-group" ng-class="{ 'has-error': restoreForm.email.$invalid && (restoreForm.email.$touched || restoreForm.$submitted) }">
        <input ng-disabled="$ctrl.busy" type="email" ng-model="$ctrl.data.email" name="email" ng-required="true" class="form-control" placeholder="Email" maxlength="50">
    </div>
    <div class="form-group text-center">
        <button ng-disabled="$ctrl.busy" class="btn btn-default btn-lg" type="submit">Восстановить пароль</button>
    </div>
</form>
<p ng-if="$ctrl.sent">
    На Вашу электронную почту был отправлен запрос на сброс пароля. Пожалуйста, следуйте инструкциям в письме.
</p>