<div class="modal-header">
    <h3 class="modal-title">Удалить '{{context}}'?</h3>
</div>
<div class="modal-body">
    Вы действительно уверены, что хотите удалить '{{context}}'?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="busy" ng-click="delete()">Удалить</button>
    <button class="btn btn-warning" ng-disabled="busy" ng-click="cancel()">Отмена</button>
</div>